extends layout

append content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Alíquotas
    div(class="tab-content col-12" id="nav-tabContent")
      //- Alíquotas
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="col-12 mt-3")
          if (aliquots.length) > 0
            div(class="text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Filtrar por estado e/ou cidade
              input(type="text" id="filter_city" class="form-control text-muted mb-3" onkeyup="filter_city()" placeholder="Procurar por estado e/ou cidade...")
            ul(class="list-group mb-5" id="ul-aliquots")
              - var i = 0;
              each aliquot in aliquots
                li(class="list-group-item border mb-3")
                  - var percentage = `${aliquot['percentage'] * 0.01}%`
                  h4(class="fw-bold text-center text-muted border-bottom p-2") #{aliquot['city']} (#{aliquot['state']}(#{aliquot['code']}) - #{percentage})
                  div(class="text-center text-white")
                    a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" data-bs-toggle="collapse" href=`#collapse-${String(aliquot['city']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1` role="button" aria-expanded="false" aria-controls=`collapse-${String(aliquot['city']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                      | Ver informações
                    a(class="btn btn-success col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`aliquotEdit('${aliquot['id']}')`)
                      | Editar
                    a(class="btn btn-danger col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`aliquotRemove('${aliquot['state']}', '${aliquot['city']}', '${aliquot['code']}', '${aliquot['percentage']}')`)
                      | Remover
                  div(class="collapse mt-2" id=`collapse-${String(aliquot['city']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                    div(class="card card-body")
                      h5(class="text-center text-muted border-bottom p-2") Informações Gerais
                      div(class="row border-bottom mt-3")
                        div(class="col-12 mb-5")
                          label(for=`aliquot-code-${i}`) Código
                          input(type="text" class="form-control" id=`aliquot-code-${i}` value=`${aliquot['code']}` disabled)
                        div(class="col-12 mb-5")
                          label(for=`aliquot-percentage-${i}`) Porcentagem
                          input(type="text" class="form-control" id=`aliquot-percentage-${i}` value=`${aliquot['percentage']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`aliquot-state-${i}`) Estado
                          input(type="text" class="form-control" value=`${aliquot['state']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`aliquot-city-${i++}`) Cidade
                          input(type="text" class="form-control" value=`${aliquot['city']}` disabled)
          else
            p(class="mt-3") Não existem alíquotas registradas.
  script.
    let aliquotslength = Number("#{aliquotslength}");

    $(() => {
      storage_menu_start('aliquots');

      let i = 0, l = aliquotslength;
      for(; i < l; i++) {
        $(`#aliquot-percentage-${i} \
        `).priceFormat({
          prefix: '',
          suffix: '%',
          allowNegative: false
        });
      }
    })

    function gotoSystem() {
      document.location = `${baseurl}/system/?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function register() {
      document.location = `${baseurl}/system/aliquots/register?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function aliquotEdit(id) {
      document.location = `${baseurl}/system/aliquots/edit/${id}?&usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function aliquotRemove(state, city, code, percentage) {
      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/aliquots/remove`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "city": String(city),
          "code": Number(code),
          "percentage": Number(percentage),
          "state": String(state)
        }
      })
      .then(response => document.location.reload())
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }

    /**
      Filtros
    */
    function filter_city() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("filter_city");
      filter = input.value.toUpperCase();
      ul = document.getElementById("ul-aliquots");
      li = ul.getElementsByTagName("li");

      for (i = 0; i < li.length; i++) {
        let valid = true;

        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;

        if (valid)
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
      }
    }