extends layout

append content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Informações Gerais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Informações Gerais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3")
          div(class="col-12 mb-5")
            label(for="aliquot-code") Código
            input(type="number" class="form-control" id="aliquot-code")
          div(class="col-12 mb-5")
            label(for="aliquot-percentage") Porcentagem
            input(type="text" class="form-control" id="aliquot-percentage")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="aliquot-state") Estado
            input(type="text" class="form-control" id="aliquot-state" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="aliquot-city") Cidade
            input(type="text" class="form-control" id="aliquot-city" disabled)
  script.
    let aliquot = JSON.parse(LZString.decompressFromBase64(`#{aliquot}`)),
      cities = JSON.parse(LZString.decompressFromBase64(`#{cities}`));

    $(() => {
      $("#aliquot-code").val(aliquot['code']);
      $("#aliquot-percentage").val(aliquot['percentage']);
      $("#aliquot-state").val(aliquot['state']);
      $("#aliquot-city").val(aliquot['city']);

      $('#aliquot-percentage').priceFormat({
        prefix: '',
        suffix: '%',
        allowNegative: false
      });

      $("#aliquot-state").autocomplete({ source: String("#{states}").split(",") });

      $("#aliquot-state").change(function () {
        $("#aliquot-city").autocomplete({ source: cities[$('#aliquot-state').val()]});
      });

      $("aliquot-code").change(function(e) {
        if ($(e.target).val() <= 0) $(e.target).val(0);
      });
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/aliquots?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    let send_interval = null,
      send_valid = null;

    function send() {
      send_valid = true;

      if ($('#aliquot-code').val().length <= 0) {
        $('#aliquot-code').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#aliquot-percentage').val().length <= 0) {
        $('#aliquot-percentage').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#aliquot-state').val().length <= 0) {
        $('#aliquot-state').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#aliquot-city').val().length <= 0) {
        $('#aliquot-city').addClass('is-invalid');
        send_valid = false;
      }

      if (!send_valid) {
        alerting('Existem campos obrigatórios não preenchidos e/ou invalidos.');

        if (send_interval) {
          clearTimeout(send_interval);
          send_interval = null;
        }

        send_interval = setTimeout(function() {
          $('\
            #aliquot-code, \
            #aliquot-percentage, \
            #aliquot-state, \
            #aliquot-city, \
          '.trim()).removeClass('is-invalid');
        }, 1000)
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/aliquots/update`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "prevpercentage": Number(aliquot['percentage']),
          "percentage": Number($("#aliquot-percentage").unmask()),
          "state": String($("#aliquot-state").val()),
          "city": String($("#aliquot-city").val()),
          "code": Number($("#aliquot-code").val())
        }
      })
      .then(() => {
        alerting(`Alíquota atualizado com sucesso!`);
        loading(false);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }