extends layout

append content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Gerenciamento dos Cartões Digitais Interativos.
  div(class="col-12")
    p(class="text-wrap")
      | Olá #[b(class="text-mave1 text-capitalize" id="usr-username")]/#[b(class="text-mave1 text-capitalize") #{privilege} #{">"}] Seu caminho de navegação atual é #[b(class="text-mave1") #{router}]
  mixin card(id, photo, name, jobtitle, version)
    a(class="list-group-item list-group-item-action col-12" aria-current="true" id=`container-card-${id}`)
      div(class="d-flex flex-lg-row flex-sm-column justify-content-between")
        div(class="col-sm-12 col-lg-1 border-end")
          img(id=`card-photo-${id}` src=`/${photo['path']}${photo['name']}` class="rounded-circle mx-auto mt-2 d-block shadow" width="80" height="80")
          button(type="button" class="btn btn-mave2 col-12 mt-2 btn-sm" onclick=`window.open('${baseurl}/cards/card/${id}', '_blank')`) Visualizar
        div(class="d-flex flex-column col-sm-12 col-lg p-2 text-lg-start text-sm-center")
          h5(class="mb-1" id=`card-name-${id}`) #{name || '???'}
          p(class="mb-1" id=`card-jobtitle-${id}`) #{jobtitle || '???'}
          div(class="d-flex flex-row col-12 justify-content-start")
            button(type="button" class="btn btn-mave1 col-sm-6 col-lg-4 me-2 btn-sm" id=`card-edit-${id}`) Editar
            button(type="button" class="btn btn-mave1 col-sm-6 col-lg-4 btn-sm" id=`card-remove-${id}`) Remover
        small(class="text-sm-center") Layout: #{version || '???'}
  div(class="input-group flex-nowrap my-3")
    span(class="input-group-text" id="span-search") #[i(class="fas fa-search")]
    input(type="text" class="form-control col-6" id="input-search" placeholder="Procurar..." aria-label="span-search" aria-describedby="span-search" value="" disabled=cards.length <= 0 ? true: false)
  div(class="input-group flex-nowrap my-3")
    span(class="input-group-text" id="span-limit") #[i(class="fas fa-filter")] Itens exibidos por vez
    input(type="number" class="form-control col-6" id="input-limit" aria-label="span-limit" aria-describedby="span-limit" value="10" min="1" max="100" disabled=cards.length <= 0 ? true: false)
  div(class="list-group border-top p-2" id="list-cards")
    if (cards.length <= 0)
      p.text-muted Nenhum cartão digital encontrado.
    else
      each card in cards
        +card(card['id'], card['photo'], card['name'], card['jobtitle'], card['version'])
  script.
    (function () {
      'use strict';
      window.app = window.app || {};
      window.app.cardItems = String("#{cardItems}").split(',');
      window.app.cardsCompressData = JSON.parse(LZString.decompressFromEncodedURIComponent("#{cardsCompressData}"));
      window.app.cardsChangePhoto = (id, photo) => {
        return $(`#card-photo-${id}`).get(0).src = `/${photo['path']}${photo['name']}`;
      };
      window.app.cardsChangeName = (id, name) => {
        return $(`#card-name-${id}`).text(name);
      };
      window.app.cardsChangeJobtitle = (id, jobtitle) => {
        return $(`#card-jobtitle-${id}`).text(jobtitle);
      };
    })();
  script(src="/javascripts/cards-control.min.js")