extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Inativação do cliente
    div(class="tab-content col-12" id="nav-tabContent")
      //- Motivo
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3 mb-3")
          div(class="col-12")
            p(class="text-left text-dark")
              | O cliente #[b #{client['name']} (#{client['costcenter']})] está sendo #[b inativado], o mesmo não poderá ser utilizado em novos orçamentos e/ou propostas.
          div(class="col-12 mb-5" id="radio-motivo")
            - let reasonID = 0;
            each reason in reasons
              div(class="form-check")
                input(type="radio" id=`inactive-motivo-${++reasonID}` name="customRadio" class="form-check-input" value=`${reason}`)
                label(class="form-check-label" for=`inactive-motivo-${reasonID}`)
                  | #[b #{reason}]
        div(class="row border-bottom mt-3 mb-3")
          div(class="col-12")
            p(class="text-left text-dark")
              | Qual medida de ação irá propor para que o cliente venha a se tornar ativo novamente.
          div(class="col-12 mb-5" id="radio-medida")
            - let measureID = 0;
            each measure in measures
              div(class="form-check")
                input(type="radio" id=`inactive-medida-${++measureID}` name="customRadio2" class="form-check-input" value=`${measure}`)
                label(class="form-check-label" for=`inactive-medida-${measureID}`)
                  | #[b #{measure}]
    //- MODALS
    //- Tipo de serviço
    div(id="modal-1" class="modal fade mt-5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true")
      div(class="modal-dialog modal-xl modal-dialog-scrollable")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="fw-bold") Retorne a gestão de clientes
          div(id="modal-1-scrollable" class="modal-body")
            div(class="col-12 mt-2 mb-4")
              p(class="fw-bold")
                | O cliente #{client['name']} (#{client['costcenter']}), acabou de ser inativado, por gentileza clique em concluir para retornar a tela de gestão dos clientes.
            button(type="button" class="btn btn-mave1 col-12 p-2 m-2" onclick="gotoSystem()") #[span(class="material-icons") reply_all] #[br] Concluir
  script(src="/javascripts/lz-string.min.js")
  script.
    $(() => {
      $(window).bind('beforeunload', function() {
        return 'Você tem certeza de que quer sair?';
      });
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/clients?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    let send_interval = null,
      send_valid = null;

    function send() {
      send_valid = true;

      if (
        $('#radio-motivo input:radio:checked').val() === undefined ||
        $('#radio-medida input:radio:checked').val() === undefined
      ) {
        send_valid = null;
        alerting(`Antes de inativar o cliente você deve informar o motivo e a medida a ser tomada por gentileza.`);
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/clients/inactive`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "id": "#{client['id']}",
          "reason": $('#radio-motivo input:radio:checked').val(),
          "measure": $('#radio-medida input:radio:checked').val()
        }
      })
      .then(response => {
        const {data} = response['data'];

        alerting(`O cliente está inativo.`);

        loading(false);
        modalOpen("modal-1");
        $('#button-send').attr('disabled', true);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }