extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Informações Comerciais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Informações Comerciais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-ID") Código
            input(type="text" class="form-control" id="client-ID" placeholder="???" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="centro_custo_title") Centro de Custo
            select(class="form-select" id="centro_custo_title" disabled)
              option(selected) S. MAVE
              option V. MAVE
              option MAVE SYSTEMS
              option QUALITY
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-person") Pessoa Física/Jurídica
            select(class="form-select" id="client-person")
              option(selected) Física
              option Jurídica
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-name") Cliente
            input(type="text" class="form-control" id="client-name" )
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="cpfcnpj") CPF/CNPJ
            input(type="text" class="form-control" id="cpfcnpj" maxlength="14")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-street") Rua
            input(type="text" class="form-control" id="client-location-street")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-number") Número
            input(type="number" class="form-control" id="client-location-number" min="1")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-zipcode") CEP
            input(type="text" class="form-control" id="client-location-zipcode" minlength="8" maxlength="8")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-complement") Complemento (Opcional)
            input(type="text" class="form-control" id="client-location-complement")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-district") Bairro
            input(type="text" class="form-control" id="client-location-district")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-state") Estado
            input(type="text" class="form-control" id="client-location-state")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-location-city") Cidade
            input(type="text" class="form-control" id="client-location-city")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-phone") Telefone
            input(type="text" class="form-control valid" id="client-phone" minlength="10" maxlength="10")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-phone") Celular (Opcional)
            input(type="text" class="form-control valid" id="client-phone2" minlength="11" maxlength="11")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-contact") Contato
            input(type="text" class="form-control" id="client-contact")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="client-email") Email
            input(type="email" class="form-control" id="client-email")
    //- MODALS
    //- Tipo de serviço
    div(id="modal-1" class="modal fade mt-5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true")
      div(class="modal-dialog modal-xl modal-dialog-scrollable")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") CENTRO DE CUSTO
          div(id="modal-1-scrollable" class="modal-body")
            div(class="col mt-2 mb-4")
              select(class="form-select" id="centro_custo" onchange="$('#centro_custo').val() !== 'null' ? $('#centro_custo_btn').attr('disabled', false) : $('#centro_custo_btn').attr('disabled', true)")
                option(selected value="null") Selecione a opção
                option S. MAVE
                option V. MAVE
                option MAVE SYSTEMS
                option QUALITY
            button(type="button" class="btn btn-mave1 col-12" data-bs-dismiss="modal" disabled id="centro_custo_btn" onclick="setCentroCusto()") Definir
  script(src="/javascripts/lz-string.min.js")
  script.
    let clients = JSON.parse(LZString.decompressFromBase64(`#{clients}`)),
      cpfcnpj_trigger = '';

    $(document).ready(() => {
      let cities = JSON.parse(LZString.decompressFromBase64(`#{cities}`));

      modalOpen("modal-1");

      $("#client-ID").val(StringPadZero(clients.length + 1, 6));

      $("#cpfcnpj").mask("999.999.999-99?99999", {autoclear: false});
      $("#client-location-zipcode").mask("99999-999", {autoclear: false});
      $("#client-phone").mask("(99) 9999-9999", {autoclear: false});
      $("#client-phone2").mask("(99) 99999-9999", {autoclear: false});
      $("#client-location-state").autocomplete({ source: String("#{states}").split(",") });

      $('#cpfcnpj').keyup(function (e) {
        var query = $(this).val().replace(/[^a-zA-Z 0-9]+/g,'');

        if (query.length == 11) {
          $("#cpfcnpj").mask("999.999.999-99?99999", {autoclear: false});
          cpfcnpj_trigger = 'cpf';
        }

        if (query.length == 14) {
          $("#cpfcnpj").mask("99.999.999/9999-99", {autoclear: false});
          cpfcnpj_trigger = 'cnpj';
        }
      })

      $("#client-location-state").change(function () {
        $("#client-location-city").autocomplete({ source: cities[$('#client-location-state').val()]});
      })
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/clients?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function setCentroCusto() {
      $('#centro_custo_title').val($('#centro_custo').val());
      $('#centro_custo_title').attr('disabled', false);
    }

    let send_interval = null,
      send_valid = null;

    function send() {
      send_valid = true;

      if ($('#client-ID').val().length <= 0) {
        $('#client-ID').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#centro_custo_title').val().length <= 0) {
        $('#centro_custo_title').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-person').val().length <= 0) {
        $('#client-person').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-name').val().length <= 0) {
        $('#client-name').addClass('is-invalid');
        send_valid = false;
      }

      if (
        $('#cpfcnpj').val().length <= 0 ||
        cpfcnpj_trigger === 'cpf' && $('#cpfcnpj').val().length < 11 ||
        cpfcnpj_trigger === 'cnpj' && $('#cpfcnpj').val().length < 14
      ) {
        $('#cpfcnpj').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-street').val().length <= 0) {
        $('#client-location-street').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-number').val().length <= 0 || $('#client-location-number').val().length < 1) {
        $('#client-location-number').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-zipcode').val().length <= 0 || $('#client-location-zipcode').val().length < 8) {
        $('#client-location-zipcode').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-district').val().length <= 0) {
        $('#client-location-district').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-state').val().length <= 0) {
        $('#client-location-state').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-location-city').val().length <= 0) {
        $('#client-location-city').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-phone').val().length <= 0 || $('#client-phone').val().length < 10) {
        $('#client-phone').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-phone2').val().length > 0 && $('#client-phone2').val().length < 11) {
        $('#client-phone2').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-contact').val().length <= 0) {
        $('#client-contact').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#client-email').val().length <= 0) {
        $('#client-email').addClass('is-invalid');
        send_valid = false;
      }

      if (!send_valid) {
        alerting('Existem campos obrigatórios não preenchidos e/ou invalidos.');

        if (send_interval) {
          clearTimeout(send_interval);
          send_interval = null;
        }

        send_interval = setTimeout(function() {
          $('\
            #client-ID, \
            #centro_custo_title, \
            #client-person, \
            #client-name, \
            #cpfcnpj, \
            #client-location-street, \
            #client-location-number, \
            #client-location-zipcode, \
            #client-location-district, \
            #client-location-state, \
            #client-location-city, \
            #client-phone, \
            #client-contact, \
            #client-email \
          '.trim()).removeClass('is-invalid');
        }, 1000)
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/clients/register`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "id": $("#client-ID").val(),
          "person": $("#client-person").val(),
          "name": $("#client-name").val(),
          "costcenter": $("#centro_custo_title").val(),
          "cpfcnpj": $("#cpfcnpj").val(),
          "location": {
            "street": $("#client-location-street").val(),
            "complement": $("#client-location-complement").val(),
            "number": $("#client-location-number").val(),
            "district": $("#client-location-district").val(),
            "state": $("#client-location-state").val(),
            "city": $("#client-location-city").val(),
            "zipcode": $("#client-location-zipcode").val()
          },
          "phone": $("#client-phone").val(),
          "phone2": $("#client-phone2").val(),
          "contact": $("#client-contact").val(),
          "email": $("#client-email").val()
        }
      })
      .then(response => {
        const {data} = response['data'];

        alerting(`Cliente adicionado com sucesso!`);

        clients.push({});
        $("#client-ID").val(StringPadZero(clients.length + 1, 6));
        $("#cpfcnpj").val('');
        $("#client-name").val('');
        $("#client-location-street").val('');
        $("#client-location-complement").val('');
        $("#client-location-number").val('');
        $("#client-location-district").val('');
        $("#client-location-state").val('');
        $("#client-location-city").val('');
        $("#client-location-zipcode").val('');
        $("#client-phone").val('');
        $("#client-phone2").val('');
        $("#client-contact").val('');
        $("#client-email").val('');

        loading(false);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }