extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Clientes Ativos
        a(class="menu-storage nav-link" id="nav-inativos-tab" data-bs-toggle="tab" href="#nav-inativos" role="tab" aria-controls="nav-inativos" aria-selected="false") Clientes Inativos
    div(class="tab-content col-12" id="nav-tabContent")
      //- Clientes Ativos
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="col-12 mt-3")
          if (clients.length > 0)
            div(class="text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Filtrar por CNPJ
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_cnpj('S. MAVE')" id="filter_cnpj_smave") S. MAVE
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_cnpj('V. MAVE')" id="filter_cnpj_vmave") V. MAVE
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_cnpj('MAVE SYSTEMS')" id="filter_cnpj_mavesystems") MAVE SYSTEMS
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_cnpj('QUALITY')" id="filter_cnpj_quality") QUALITY
            input(type="text" id="filter_name" class="form-control text-muted mb-3" onkeyup="filter_name()" placeholder="Procurar por nome...")
            ul(class="list-group mb-5" id="ul-clients")
              each client in clients
                - let location = `${client['location']['street']} ${client['location']['number']}`
                if (client['status'] === true)
                  li(class="list-group-item border mb-3" data-filterCNPJ=`${client['costcenter']}`)
                    h4(class="fw-bold text-center text-muted border-bottom p-2") #{client['name']} (#{client['costcenter']})
                    div(class="text-center text-white")
                      a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" data-bs-toggle="collapse" href=`#collapse-${client['id']}-1` role="button" aria-expanded="false" aria-controls=`collapse-${client['id']}-1`)
                        | Ver informações
                      a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" data-bs-toggle="collapse" href=`#collapse-${client['id']}-2` role="button" aria-expanded="false" aria-controls=`collapse-${client['id']}-2`)
                        | Endereço
                      a(class="btn btn-success col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" role="button" onclick=`clientEdit('${client['id']}')`)
                        | Editar
                      a(class="btn btn-danger col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" role="button" onclick=`clientInactive('${client['id']}')`)
                        | Inativar
                    div(class="collapse mt-2" id=`collapse-${client['id']}-1`)
                      div(class="card card-body")
                        h5(class="text-center text-muted border-bottom p-2") Informações
                        div(class="row border-bottom mt-3")
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Código
                            input(type="text" class="form-control text-muted" value=`${client['id']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Centro de Custo
                            input(type="text" class="form-control text-muted" value=`${client['costcenter']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Pessoa Física/Jurídica
                            input(type="text" class="form-control text-muted" value=`${client['person']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") CPF/CNPJ
                            input(type="text" class="form-control text-muted" value=`${client['cpfcnpj']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Telefone
                            input(type="text" class="form-control text-muted" value=`${client['phone']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Celular
                            input(type="text" class="form-control text-muted" value=`${client['phone2']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Contato
                            input(type="text" class="form-control text-muted" value=`${client['contact']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Email
                            input(type="text" class="form-control text-muted" value=`${client['email']}` disabled)
                    div(class="collapse mt-2" id=`collapse-${client['id']}-2`)
                      div(class="card card-body")
                        h5(class="text-center text-muted border-bottom p-2") Endereço
                        div(class="row border-bottom mt-3")
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Rua
                            input(type="text" class="form-control text-muted" value=`${client['location']['street']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Número
                            input(type="text" class="form-control text-muted" value=`${client['location']['number']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Complemento
                            input(type="text" class="form-control text-muted" value=`${client['location']['complement']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Bairro
                            input(type="text" class="form-control text-muted" value=`${client['location']['district']}` disabled)
                          div(class="col-12 mb-3")
                            label(class="text-muted") CEP
                            input(type="text" class="form-control text-muted" value=`${client['location']['zipcode']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Estado
                            input(type="text" class="form-control text-muted" value=`${client['location']['state']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Cidade
                            input(type="text" class="form-control text-muted" value=`${client['location']['city']}` disabled)
                        a(class="btn btn-mave1 col p-2 mt-2" role="button" href=`https://www.google.com/maps/place/${location.replace(/\s{1,}/g, '+')}` target="_blank")
                          | Google Maps (GPS)
          else
            p(class="mt-3") Não existem clientes ativos.
      //- Clientes Inativos
      div(class="tab-pane fade show" id="nav-inativos" role="tabpanel" aria-labelledby="nav-inativos-tab")
        div(class="col-12 mt-3")
          if (clients.length > 0)
            div(class="text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Filtrar por CNPJ
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_inactive_cnpj('S. MAVE')" id="filter_inactive_cnpj_smave") S. MAVE
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_inactive_cnpj('V. MAVE')" id="filter_inactive_cnpj_vmave") V. MAVE
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_inactive_cnpj('MAVE SYSTEMS')" id="filter_inactive_cnpj_mavesystems") MAVE SYSTEMS
              a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mb-3 me-2" role="button" onclick="filter_inactive_cnpj('QUALITY')" id="filter_inactive_cnpj_quality") QUALITY
            input(type="text" id="filter_inactive_name" class="form-control text-muted mb-3" onkeyup="filter_inactive_name()" placeholder="Procurar por nome...")
            ul(class="list-group mb-5" id="ul-clients-inactive")
              each client in clients
                - let location = `${client['location']['street']} ${client['location']['number']}`
                if (client['status'] === false)
                  li(class="list-group-item border mb-3" data-filterCNPJ=`${client['costcenter']}`)
                    h4(class="fw-bold text-center text-muted border-bottom p-2") #{client['name']} (#{client['costcenter']})
                    div(class="text-center")
                      a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" data-bs-toggle="collapse" href=`#collapse-inactive-${client['id']}-1` role="button" aria-expanded="false" aria-controls=`collapse-inactive-${client['id']}-1`)
                        | Ver informações
                      a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" data-bs-toggle="collapse" href=`#collapse-inactive-${client['id']}-2` role="button" aria-expanded="false" aria-controls=`collapse-inactive-${client['id']}-2`)
                        | Endereço
                      a(class="btn btn-warning col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" role="button" onclick=`clientResolution('${client['id']}')`)
                        | Resolução
                      a(class="btn btn-success col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 m-2" role="button" onclick=`clientReactivate('${client['id']}')`)
                        | Reativar
                    div(class="collapse mt-2" id=`collapse-inactive-${client['id']}-1`)
                      div(class="card card-body")
                        h5(class="text-center text-muted border-bottom p-2") Informações
                        div(class="row border-bottom mt-3")
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Código
                            input(type="text" class="form-control text-muted" value=`${client['id']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Centro de Custo
                            input(type="text" class="form-control text-muted" value=`${client['costcenter']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Pessoa Física/Jurídica
                            input(type="text" class="form-control text-muted" value=`${client['person']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") CPF/CNPJ
                            input(type="text" class="form-control text-muted" value=`${client['cpfcnpj']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Telefone
                            input(type="text" class="form-control text-muted" value=`${client['phone']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Celular
                            input(type="text" class="form-control text-muted" value=`${client['phone2']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Contato
                            input(type="text" class="form-control text-muted" value=`${client['contact']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Email
                            input(type="text" class="form-control text-muted" value=`${client['email']}` disabled)
                    div(class="collapse mt-2" id=`collapse-inactive-${client['id']}-2`)
                      div(class="card card-body")
                        h5(class="text-center text-muted border-bottom p-2") Endereço
                        div(class="row border-bottom mt-3")
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Rua
                            input(type="text" class="form-control text-muted" value=`${client['location']['street']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Número
                            input(type="text" class="form-control text-muted" value=`${client['location']['number']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Complemento
                            input(type="text" class="form-control text-muted" value=`${client['location']['complement']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Bairro
                            input(type="text" class="form-control text-muted" value=`${client['location']['district']}` disabled)
                          div(class="col-12 mb-3")
                            label(class="text-muted") CEP
                            input(type="text" class="form-control text-muted" value=`${client['location']['zipcode']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Estado
                            input(type="text" class="form-control text-muted" value=`${client['location']['state']}` disabled)
                          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
                            label(class="text-muted") Cidade
                            input(type="text" class="form-control text-muted" value=`${client['location']['city']}` disabled)
                        a(class="btn btn-mave1 col p-2 mt-2" role="button" href=`https://www.google.com/maps/place/${location.replace(/\s{1,}/g, '+')}` target="_blank")
                          | Google Maps (GPS)
          else
            p(class="mt-3") Não existem clientes inativos.
  script(src="/javascripts/lz-string.min.js")
  script.
    $(document).ready(() => {
      storage_menu_start('clients');
    })

    function gotoSystem() {
      document.location = `${baseurl}/system/?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function register() {
      document.location = `${baseurl}/system/clients/register?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function clientEdit(id) {
      document.location = `${baseurl}/system/clients/edit/${id}?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function clientInactive(id) {
      document.location = `${baseurl}/system/clients/inactive/${id}?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function clientResolution(id) {
      document.location = `${baseurl}/system/clients/inactive/resolutions/${id}?&usr_token=${localStorage.getItem('usr-token')}`;
    }

    function clientReactivate(id) {
      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/clients/reactivate`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "id": id
        }
      })
      .then(() => document.location.reload())
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })      
    }

    /** 
      Clientes Ativos
    */
    let filter_cnpj_active = [],
      delay = [];
    function filter_cnpj(cnpj) {
      if (delay[0]) return;
      if (filter_cnpj_active[0]) {
        $(`#${filter_cnpj_active[0]}`).removeClass('active');
        if (filter_cnpj_active[1] === cnpj) cnpj = '';
        filter_cnpj_active[0] = false;
      }

      if (cnpj != '')
        if (cnpj === 'S. MAVE') {
          $("#filter_cnpj_smave").addClass('active');
          filter_cnpj_active[0] = 'filter_cnpj_smave';
          filter_cnpj_active[1] = 'S. MAVE';
        } else if (cnpj === 'V. MAVE') {
          $("#filter_cnpj_vmave").addClass('active');
          filter_cnpj_active[0] = 'filter_cnpj_vmave';
          filter_cnpj_active[1] = 'V. MAVE';
        } else if (cnpj === 'MAVE SYSTEMS') {
          $("#filter_cnpj_mavesystems").addClass('active');
          filter_cnpj_active[0] = 'filter_cnpj_mavesystems';
          filter_cnpj_active[1] = 'MAVE SYSTEMS';
        } else if (cnpj === 'QUALITY') {
          $("#filter_cnpj_quality").addClass('active');
          filter_cnpj_active[0] = 'filter_cnpj_quality';
          filter_cnpj_active[1] = 'QUALITY';
        }

      var filter, ul, li, a, i, txtValue;
      filter = cnpj;
      ul = document.getElementById("ul-clients");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          $(li[i]).css({
            opacity: 0,
            display: ''
          }).animate({ opacity: 1 }, delay[1], function() { if(delay[0]) delay[0] = false, loading(false); })

          if (!delay[0]) delay[0] = true, loading(true);
        } else {
          $(li[i]).css({
            opacity: 0,
            display: 'none'
          }).animate({ opacity: 1 }, delay[1], function() { if(delay[0]) delay[0] = false, loading(false); });

          if (!delay[0]) delay[0] = true, loading(true);
        }
      }
    }

    function filter_name() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("filter_name");
      filter = input.value.toUpperCase();
      ul = document.getElementById("ul-clients");
      li = ul.getElementsByTagName("li");

      for (i = 0; i < li.length; i++) {
        let valid = true;

        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;

        if (filter_cnpj_active[0]) {
          if (filter_cnpj_active[1] != li[i].dataset.filtercnpj)
            valid = false;
        }

        if (valid)
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
      }
    }

    /** 
      Clientes Inativos
    */
    let filter_inactive_cnpj_active = [],
      delay_inactive = [];
    function filter_inactive_cnpj(cnpj) {
      if (delay_inactive[0]) return;
      if (filter_inactive_cnpj_active[0]) {
        $(`#${filter_inactive_cnpj_active[0]}`).removeClass('active');
        if (filter_inactive_cnpj_active[1] === cnpj) cnpj = '';
        filter_inactive_cnpj_active[0] = false;
      }

      if (cnpj != '')
        if (cnpj === 'S. MAVE') {
          $("#filter_inactive_cnpj_smave").addClass('active');
          filter_inactive_cnpj_active[0] = 'filter_inactive_cnpj_smave';
          filter_inactive_cnpj_active[1] = 'S. MAVE';
        } else if (cnpj === 'V. MAVE') {
          $("#filter_inactive_cnpj_vmave").addClass('active');
          filter_inactive_cnpj_active[0] = 'filter_inactive_cnpj_vmave';
          filter_inactive_cnpj_active[1] = 'V. MAVE';
        } else if (cnpj === 'MAVE SYSTEMS') {
          $("#filter_inactive_cnpj_mavesystems").addClass('active');
          filter_inactive_cnpj_active[0] = 'filter_inactive_cnpj_mavesystems';
          filter_inactive_cnpj_active[1] = 'MAVE SYSTEMS';
        } else if (cnpj === 'QUALITY') {
          $("#filter_inactive_cnpj_quality").addClass('active');
          filter_inactive_cnpj_active[0] = 'filter_inactive_cnpj_quality';
          filter_inactive_cnpj_active[1] = 'QUALITY';
        }

      var filter, ul, li, a, i, txtValue;
      filter = cnpj;
      ul = document.getElementById("ul-clients-inactive");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          $(li[i]).css({
            opacity: 0,
            display: ''
          }).animate({ opacity: 1 }, delay_inactive[1], function() { if(delay_inactive[0]) delay_inactive[0] = false, loading(false); })

          if (!delay_inactive[0]) delay_inactive[0] = true, loading(true);
        } else {
          $(li[i]).css({
            opacity: 0,
            display: 'none'
          }).animate({ opacity: 1 }, delay_inactive[1], function() { if(delay_inactive[0]) delay_inactive[0] = false, loading(false); });

          if (!delay_inactive[0]) delay_inactive[0] = true, loading(true);
        }
      }
    }

    function filter_inactive_name() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("filter_inactive_name");
      filter = input.value.toUpperCase();
      ul = document.getElementById("ul-clients-inactive");
      li = ul.getElementsByTagName("li");

      for (i = 0; i < li.length; i++) {
        let valid = true;

        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;

        if (filter_inactive_cnpj_active[0]) {
          if (filter_inactive_cnpj_active[1] != li[i].dataset.filtercnpj)
            valid = false;
        }

        if (valid)
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
      }
    }