extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Informações Gerais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Informações Gerais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="esocial-description") Descrição
            input(type="text" class="form-control" id="esocial-description" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="esocial-percentage") Porcentagem
            input(type="text" class="form-control" id="esocial-percentage" value="0")
  script(src="/javascripts/lz-string.min.js")
  script.
    let esocial = JSON.parse(LZString.decompressFromBase64(`#{esocial}`));

    $(document).ready(() => {
      $('#esocial-description').val(esocial['description']);

      $('#esocial-percentage').val(esocial['percentage']).priceFormat({
        prefix: '',
        suffix: '%',
        allowNegative: false
      });

      $(window).bind('beforeunload', function() {
        return 'Você tem certeza de que quer sair?';
      });
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/esocial?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    let send_interval = null,
      send_valid = null;

    function send() {
      send_valid = true;

      if ($('#esocial-description').val().length <= 0) {
        $('#esocial-description').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#esocial-percentage').val().length <= 0) {
        $('#esocial-percentage').addClass('is-invalid');
        send_valid = false;
      }

      if (!send_valid) {
        alerting('Existem campos obrigatórios não preenchidos e/ou invalidos.');

        if (send_interval) {
          clearTimeout(send_interval);
          send_interval = null;
        }

        send_interval = setTimeout(function() {
          $('\
            #esocial-description, \
            #esocial-percentage \
          '.trim()).removeClass('is-invalid');
        }, 1000)
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/esocial/update`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "description": String($("#esocial-description").val()),
          "percentage": Number($("#esocial-percentage").unmask())
        }
      })
      .then(() => {
        alerting(`Encargo Social atualizado com sucesso!`);
        loading(false);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }