extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Encargos Sociais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Encargos Sociais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="col-12 mt-3")
          if (esocial.length) > 0
            div(class="text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Filtrar por descrição
              input(type="text" id="filter_description" class="form-control text-muted mb-3" onkeyup="filter_description()" placeholder="Procurar por descrição...")
            ul(class="list-group mb-5" id="ul-esocial")
              - var i = 0;
              each data in esocial
                li(class="list-group-item border mb-3")
                  h4(class="fw-bold text-center text-muted border-bottom p-2") #{data['description']}
                  div(class="text-center text-white")
                    a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" data-bs-toggle="collapse" href=`#collapse-${String(data['description']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1` role="button" aria-expanded="false" aria-controls=`collapse-${String(data['description']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                      | Ver informações
                    a(class="btn btn-success col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`esocialEdit('${data['id']}')`)
                      | Editar
                    a(class="btn btn-danger col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`esocialRemove('${data['description']}')`)
                      | Remover
                  div(class="collapse mt-2" id=`collapse-${String(data['description']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                    div(class="card card-body")
                      h5(class="text-center text-muted border-bottom p-2") Informações Gerais
                      div(class="row border-bottom mt-3")
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`esocial-description-${i}`) Descrição
                          input(type="text" class="form-control" id=`esocial-description-${i}` value=`${data['description']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`esocial-percentage-${i}`) Porcentagem
                          input(type="text" class="form-control" id=`esocial-percentage-${i++}` value=`${data['percentage']}` disabled)
          else
            p(class="mt-3") Não existem encargos sociais registrados.
  script(src="/javascripts/lz-string.min.js")
  script.
    let esociallength = Number("#{esociallength}");

    $(() => {
      storage_menu_start('esocial');

      let i = 0, l = esociallength;
      for(; i < l; i++) {
        $(`#esocial-percentage-${i} \
        `).priceFormat({
          prefix: '',
          suffix: '%',
          allowNegative: false
        });
      }
    })

    function gotoSystem() {
      document.location = `${baseurl}/system/?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function register() {
      document.location = `${baseurl}/system/esocial/register?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function esocialEdit(id) {
      document.location = `${baseurl}/system/esocial/edit/${id}?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function esocialRemove(description) {
      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/esocial/remove`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "description": description
        }
      })
      .then(response => document.location.reload())
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }

    /**
      Filtros
    */
    function filter_description() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("filter_description");
      filter = input.value.toUpperCase();
      ul = document.getElementById("ul-esocial");
      li = ul.getElementsByTagName("li");

      for (i = 0; i < li.length; i++) {
        let valid = true;

        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;

        if (valid)
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
      }
    }