extends layout

append content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Informações Gerais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Informações Gerais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="fuel-ID") Código
            input(type="text" class="form-control" id="fuel-ID" placeholder="???" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="fuel-description") Descrição
            input(type="text" class="form-control" id="fuel-description")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="fuel-tank") Litros do tanque
            input(type="number" class="form-control" id="fuel-tank" value="1" min="1" max="999")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="fuel-unitary") Valor Unitario
            input(type="text" class="form-control" id="fuel-unitary" value="0")
          div(class="col-12 mb-5")
            label(for="fuel-total") R$ Total
            input(type="text" class="form-control" id="fuel-total" value="0" disabled)
  script(src="/javascripts/lz-string.min.js")
  script.
    let fuel = JSON.parse(LZString.decompressFromBase64(`#{fuel}`));

    $(() => {
      $("#fuel-ID").val(StringPadZero(fuel.length + 1, 6));

      $('#fuel-unitary, #fuel-total').priceFormat({
        prefix: 'R$ ',
        centsSeparator: ',',
        thousandsSeparator: '.'
      });

      $('#fuel-tank').change(function (e) {
        if ($(e.target).val() <= 0) {
          $(e.target).val(1);
        } else if ($(e.target).val() > 999) {
          $(e.target).val(999);
        }
      })

      //- Calculo do combustível
      $('#fuel-unitary, \
        #fuel-tank \
      ').change(function() {
        let unitary = Number($('#fuel-unitary').unmask()),
          tank = Number($('#fuel-tank').val().slice(0, 2)),
          calculate = Math.round(Number(unitary/tank).toFixed(2));

        $('#fuel-total').val(calculate).priceFormat({
          prefix: 'R$ ',
          centsSeparator: ',',
          thousandsSeparator: '.'
        });
      });
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/fuel?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    let send_interval = null,
      send_valid = null,
      send_details = {};

    function send() {
      send_valid = true;

      if ($('#fuel-ID').val().length <= 0) {
        $('#fuel-ID').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#fuel-description').val().length <= 0) {
        $('#fuel-description').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#fuel-tank').val().length <= 0) {
        $('#fuel-tank').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#fuel-unitary').val().length <= 0) {
        $('#fuel-unitary').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#fuel-total').val().length <= 0) {
        $('#fuel-total').addClass('is-invalid');
        send_valid = false;
      }

      if (!send_valid) {
        alerting('Existem campos obrigatórios não preenchidos e/ou invalidos.');

        if (send_interval) {
          clearTimeout(send_interval);
          send_interval = null;
        }

        send_interval = setTimeout(function() {
          $('\
            #fuel-ID, \
            #fuel-description, \
            #fuel-tank, \
            #fuel-unitary, \
            #fuel-total \
          '.trim()).removeClass('is-invalid');
        }, 1000)
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/fuel/register`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          'id': String($("#fuel-ID").val()),
          'description': String($("#fuel-description").val()),
          'tank': Number($("#fuel-tank").val()),
          'unitary': Number($("#fuel-unitary").unmask()),
          'total': Number($("#fuel-total").unmask())
        }
      })
      .then(() => {
        alerting(`Combustível registrado com sucesso!`);

        fuel.push({});
        $("#fuel-ID").val(StringPadZero(fuel.length + 1, 6));
        $("#fuel-description").val('');
        $("#fuel-tank").val(1);
        $("#fuel-unitary, #fuel-total").val(0).priceFormat({
          prefix: 'R$ ',
          centsSeparator: ',',
          thousandsSeparator: '.'
        });

        loading(false);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }