doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Olá, venha conhecer o ambiente digital interativo do Grupo Mave. Tenha todas as informações a um clique. Acesse o link e saiba mais!")
    meta(property="og:title" content="Cartão Digital do Grupo Mave")
    meta(property="og:url" content="https://grupomavedigital.com.br")
    meta(property="og:description" content="Olá, venha conhecer o ambiente digital interativo do Grupo Mave. Tenha todas as informações a um clique. Acesse o link e saiba mais!")
    meta(property="og:image" content="https://i.imgur.com/CK5gmRJ.png")
    meta(property="og:type" content="website")
    meta(property="og:updated_time" content="1440432930")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="theme-color" content="#004a6e")
    link(rel="shortcut icon" href="/assets/favicon64x64.ico" type="image/x-icon")
    link(rel="icon" type="image/png" sizes="32x30" href="/favicon/favicon256x256.png")
    link(rel="apple-touch-icon" sizes="128x128" href="/favicon/favicon256x256.png")
    link(rel="apple-touch-startup-image" href="/favicon/favicon256x256.png")
    meta(name="apple-mobile-web-app-title" content="Grupo Mave Digital")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="#004a6e")
    link(rel="icon" sizes="192x192" href="/favicon/favicon256x256.png")
    link(rel="icon" href="/favicon/favicon256x256.png")
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css")
    link(rel="stylesheet" href="/stylesheets/plugins/all.min.css")
    link(rel="stylesheet" href="/stylesheets/plugins/Chart.min.css")
    link(rel="stylesheet" href="/stylesheets/plugins/jquery-ui.min.css")
    link(rel="stylesheet" href="/stylesheets/plugins/jquery-ui.structure.min.css")
    link(rel="stylesheet" href="/stylesheets/plugins/jquery-ui.theme.min.css")
    link(rel="stylesheet" href="/stylesheets/layout.min.css")
    block head
  body
    a(id="buttonToTop" style="z-index: 9999;") #[span(class="material-icons" style="font-size: 2rem;") keyboard_arrow_up]
    script(src="/javascripts/plugins/jquery-3.5.1.min.js")
    script(src="/javascripts/plugins/jquery-ui.min.js")
    script(src="/javascripts/plugins/jquery.inputmask.min.js")
    script(src="/javascripts/plugins/axios.min.js")
    script(src="/javascripts/plugins/Chart.min.js")
    script(src="/javascripts/plugins/all.min.js")
    script(src="/javascripts/plugins/lz-string.min.js")
    script(
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    )
    script(src="/javascripts/layout.min.js")
    script(src="/javascripts/bootstrap.min.js")
    //- Fixed navbar
    header(
      class="navbar navbar-dark bg-mave1 fixed-top flex-md-nowrap p-0 shadow"
    )
      a(class="navbar-brand col-12 me-0 px-3 text-left disabled")
        img(src="/assets/logo.png" class="img-fluid mx-auto" width="250")
      button(
        class="navbar-toggler position-absolute d-md-none collapsed my-4" type="button"
        data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation"
      )
        span(class="navbar-toggler-icon")
    div(class="container-fluid")
      div(class="row")
        nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light overflow-auto sidebar collapse")
          div(class="position-sticky py-sm-2 py-md-2 py-lg-5 py-xl-5 py-xxl-5")
            ul(class="nav flex-column")
              each menu in menus
                li(class="nav-item" role="presentation")
                  if (menu['first'])
                    if (menu['type'] === 'collapse')
                      li(class="nav-item dropdown")
                        a(
                          class=`nav-link active dropdown-toggle ${menu['enabled'] ? '' : 'text-muted disabled'}`
                          data-bs-toggle="dropdown"
                          role="presentation"
                          aria-expanded="false"
                        )
                          | #[span(data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                        ul(class="dropdown-menu ms-3")
                          each item in menu['items']
                            li
                              a(
                                class=`dropdown-item ${item['enabled'] ? '' : 'text-muted disabled'}`
                                onclick=`${item['onclick'] ? `window.app.${item['onclick']}` : ''}`
                              )
                                | #[span(data-feather=`${item['icon'] && item['enabled'] ? item['icon'] : 'x-circle'}`)] !{item['title']}
                    else
                      a(
                        class=`nav-link active ${menu['enabled'] ? '' : 'text-muted disabled'}`
                        aria-current="page"
                        role="presentation"
                        onclick=`${menu['onclick'] ? `window.app.${menu['onclick']}` : ''}`
                      )
                        | #[span(data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                  else
                    if (menu['type'] === 'collapse')
                      li(class="nav-item dropdown")
                        a(
                          class=`nav-link dropdown-toggle ${menu['enabled'] ? '' : 'text-muted disabled'}`
                          data-bs-toggle="dropdown"
                          role="presentation"
                          aria-expanded="false"
                        )
                          | #[span(data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                        ul(class="dropdown-menu ms-3")
                          each item in menu['items']
                            li
                              a(
                                class=`dropdown-item ${item['enabled'] ? '' : 'text-muted disabled'}`
                                onclick=`${item['onclick'] ? `window.app.${item['onclick']}` : ''}`
                              )
                                | #[span(data-feather=`${item['icon'] && item['enabled'] ? item['icon'] : 'x-circle'}`)] !{item['title']}
                    else
                      a(
                        class=`nav-link ${menu['enabled'] ? '' : 'text-muted disabled'}`
                        role="presentation"
                        onclick=`${menu['onclick'] ? `window.app.${menu['onclick']}` : ''}`
                      )
                        | #[span(data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
            ul(class="nav flex-column")
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted")
                span Redes Sociais
                a(class="link-secondary" aria-label="Add a new report") #[span(data-feather="message-circle")]
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  a(class="nav-link" href="https://www.youtube.com/channel/UC5y4IOAlxQ4eictbudG785g" target="_blank")
                    |  #[span(data-feather="youtube")] Youtube
                li(class="nav-item")
                  a(class="nav-link" href="https://www.instagram.com/grupo.mave/" target="_blank")
                    |  #[span(data-feather="linkedin")] Linkedin
                li(class="nav-item")
                  a(class="nav-link" href="https://www.instagram.com/grupo.mave/" target="_blank")
                    |  #[span(data-feather="instagram")] Instagram
                li(class="nav-item")
                  a(class="nav-link" href="https://www.facebook.com/grupomaveoficial/" target="_blank")
                    |  #[span(data-feather="facebook")] Facebook
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted")
                span Precisa de Ajuda?
                a(class="link-secondary" aria-label="Add a new report") #[span(data-feather="help-circle")]
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  a(class="nav-link" href="https://grupomavedigital.com.br/glpi" target="_blank")
                    |  #[span(data-feather="coffee")] HelpDesk/TI (GLPI)
                li(class="nav-item")
                  a(class="nav-link" href="mailto:ti@grupomave.com.br" target="_blank")
                    |  #[span(data-feather="mail")] ti@grupomave.com.br
                li(class="nav-item")
                  a(class="nav-link" href="mailto:suporte@grupomave.com.br" target="_blank")
                    |  #[span(data-feather="mail")] suporte@grupomave.com.br
              h6(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted")
                span Sobre
                a(class="link-secondary" aria-label="Add a new report") #[span(data-feather="alert-octagon")]
              ul(class="nav flex-column mb-2")
                li(class="nav-item")
                  a(class="nav-link" href="https://grupomave.com.br" target="_blank")
                    |  #[span(data-feather="hexagon")] Grupo Mave - 2021 © Todos direitos reservados.
        main(class="col-md-9 ms-sm-auto col-lg-10 px-md-4")
          div(class="container-fluid" style="padding-top: 100px;")
            block content
    script.
      (function () {
        'use strict'

        feather.replace();
      })();