doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Olá, venha conhecer o ambiente digital interativo do Grupo Mave. Tenha todas as informações a um clique. Acesse o link e saiba mais!")
    meta(property="og:title" content="Cartão Digital do Grupo Mave")
    meta(property="og:site_name" content="Grupo Mave Digital")
    meta(property="og:url" content="https://grupomavedigital.com.br")
    meta(property="og:description" content="Olá, venha conhecer o ambiente digital interativo do Grupo Mave. Tenha todas as informações a um clique. Acesse o link e saiba mais!")
    meta(property="og:image" content="https://i.imgur.com/CK5gmRJ.png")
    meta(property="og:type" content="website")
    meta(property="og:updated_time" content="1440432930")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="theme-color" content="#004a6e")
    meta(name="apple-mobile-web-app-title" content="Grupo Mave Digital")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="#004a6e")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/please-wait.css")
    link(rel="stylesheet" href="/stylesheets/plugins/fira_code.css")
    link(rel="icon" sizes="192x192" href="/favicon/favicon256.png")
    link(rel="icon" href="/favicon/favicon256.png")
    link(rel="shortcut icon" href="/assets/favicon64x64.ico" type="image/x-icon")
    link(rel="icon" type="image/png" sizes="32x30" href="/favicon/favicon256.png")
    link(rel="apple-touch-icon" sizes="128x128" href="/favicon/favicon256.png")
    link(rel="apple-touch-startup-image" href="/favicon/favicon256.png")
    link(rel='stylesheet' type="text/css" href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet" type="text/css" href="https://cdn.plyr.io/3.6.8/plyr.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/plugins/jquery-ui.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/plugins/jquery-ui.structure.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/plugins/jquery-ui.theme.min.css")
    link(rel="stylesheet" type="text/css" href="/animate.min.css")
    link(rel="stylesheet" type="text/css" href="/Chart.css")
    link(rel="stylesheet" type="text/css" href="/spinkit.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/layout.min.css")
    block head
      script.
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/javascripts/workers/pwabuilder-sw.js');
          });
        }
  body(onbeforeunload="window.app.loading(true);")
    div
      header(
        class="navbar navbar-dark bg-primary bg-gradient sticky-top flex-md-nowrap p-2 shadow"
      )
        a(class="navbar-brand d-md-flex flex-row col-12 me-0 px-3 disabled")
          div(class="col-1 d-none d-lg-flex justify-content-center")
            p(class="my-auto") #[span(id="buttonMenu" class="material-icons fs-1") menu_open]
          img(src="/assets/logo.png" class="img-fluid mt-4 mt-md-0" width="340" onclick="window.location=\"\/\"" style="cursor: pointer;")
          div(class="col-2 ms-5 my-auto flex-fill")
            div(class="d-flex flex-column justify-content-center")
              p(class="text-center fs-3 fw-bold")
                | Ambiente Digital Interativo
        button(
          class="navbar-toggler position-absolute d-md-none collapsed my-4" type="button"
          data-bs-toggle="collapse" data-bs-target="#app-menu" aria-controls="app-menu" aria-expanded="false"
          aria-label="Toggle navigation"
        )
          span(class="navbar-toggler-icon")
      div(class="container-fluid")
        div(class="row")
          nav(id="app-menu" class="col-md-3 col-lg-2 d-md-block bg-light-gray bg-gradient sidebar collapse" style="overflow-x: hidden; overflow-y: auto;")
            div(style="height: 88vh;")
              ul(class="nav flex-column col-12 bg-light-gray bg-gradient")
                each menu in menus
                  li(class="nav-item col-12" role="presentation")
                    if (menu['first'])
                      if (menu['type'] === 'collapse')
                        li(class="nav-item dropdown col-12")
                          a(
                            title=`${menu['title']}`
                            class=`nav-link active dropdown-toggle text-truncate ${menu['enabled'] ? '' : 'text-muted disabled'}`
                            data-bs-toggle="dropdown"
                            role="presentation"
                            aria-expanded="false"
                          )
                            | #[span(class="me-2" data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                          ul(class="dropdown-menu col-12 bg-light-gray bg-gradient border-primary shadow overflow-auto" style="max-height: 30vh;")
                            each item in menu['items']
                              li(class="nav-item col-12")
                                a(
                                  title=`${item['title']}`
                                  class=`dropdown-item bg-light-gray text-primary text-truncate ${item['enabled'] ? '' : 'text-muted disabled'}`
                                  onclick=`${item['onclick'] ? `window.app.${item['onclick']}` : ''}`
                                )
                                  | #[span(class="me-2" data-feather=`${item['icon'] && item['enabled'] ? item['icon'] : 'x-circle'}`)] !{item['title']}
                      else
                        li(class="nav-item dropdown col-12")
                          a(
                            title=`${menu['title']}`
                            class=`nav-link active text-truncate ${menu['enabled'] ? '' : 'text-muted disabled'}`
                            aria-current="page"
                            role="presentation"
                            onclick=`${menu['onclick'] ? `window.app.${menu['onclick']}` : ''}`
                          )
                            | #[span(class="me-2" data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                    else
                      if (menu['type'] === 'collapse')
                        li(class="nav-item dropdown col-12")
                          a(
                            title=`${menu['title']}`
                            class=`nav-link dropdown-toggle text-truncate ${menu['enabled'] ? '' : 'text-muted disabled'}`
                            data-bs-toggle="dropdown"
                            role="presentation"
                            aria-expanded="false"
                          )
                            | #[span(class="me-2" data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
                          ul(class="dropdown-menu col-12 bg-light-gray bg-gradient border-primary shadow overflow-auto" style="max-height: 30vh;")
                            each item in menu['items']
                              li(class="nav-item col-12")
                                a(
                                  title=`${item['title']}`
                                  class=`dropdown-item bg-light-gray text-primary text-truncate ${item['enabled'] ? '' : 'text-muted disabled'}`
                                  onclick=`${item['onclick'] ? `window.app.${item['onclick']}` : ''}`
                                )
                                  | #[span(class="me-2" data-feather=`${item['icon'] && item['enabled'] ? item['icon'] : 'x-circle'}`)] !{item['title']}
                      else
                        li(class="nav-item col-12")
                          a(
                            title=`${menu['title']}`
                            class=`nav-link text-truncate ${menu['enabled'] ? '' : 'text-muted disabled'}`
                            role="presentation"
                            onclick=`${menu['onclick'] ? `window.app.${menu['onclick']}` : ''}`
                          )
                            | #[span(class="me-2" data-feather=`${menu['icon'] && menu['enabled'] ? menu['icon'] : 'x-circle'}`)] !{menu['title']}
          main(id="app-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4")
            div(class="container-fluid")
              a(id="buttonToTop") #[span(class="material-icons" style="font-size: 2rem;") keyboard_arrow_up]
              script(src="https://cdn.plyr.io/3.6.8/plyr.js")
              script(src="/jquery.min.js")
              script(src="/jquery.ui.position.min.js")
              script(src="/jquery.contextMenu.min.js")
              script(src="/javascripts/plugins/jquery-ui.min.js")
              script(src="/jquery.inputmask.min.js")
              script(src="/javascripts/plugins/hls.min.js")
              script(src="/javascripts/plugins/file_explore.js")
              script(src="/chart.min.js")
              script(src="/socket.io.js")
              script(src="/lz-string.min.js")
              script(src="/popper.min.js")
              script(src="/bootstrap.min.js")
              script(src="/feather.min.js")
              script(src="/please-wait.min.js")
              script(src="/javascripts/definitions.min.js")
              script(src="/javascripts/layout.min.js")
              block content
                include ./includes/offcanvas/preferences.pug
                script.
                  (function() { feather.replace(); })();
                script(src="/list.js")