extends layout

append content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Uniformes
    div(class="tab-content col-12" id="nav-tabContent")
      //- Uniformes
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="col-12 mt-3")
          if (uniforms.length) > 0
            div(class="text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Filtrar por descrição
              input(type="text" id="filter_description" class="form-control text-muted mb-3" onkeyup="filter_description()" placeholder="Procurar por uniforme...")
            ul(class="list-group mb-5" id="ul-uniforms")
              each uniform in uniforms
                li(class="list-group-item border mb-3")
                  h4(class="fw-bold text-center text-muted border-bottom p-2") #{uniform['description']}
                  div(class="text-center text-white")
                    a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" data-bs-toggle="collapse" href=`#collapse-${String(uniform['id']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1` role="button" aria-expanded="false" aria-controls=`collapse-${String(uniform['id']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                      | Ver informações
                    a(class="btn btn-success col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`uniformEdit('${uniform['id']}')`)
                      | Editar
                    a(class="btn btn-danger col-sm-12 col-md-12 col-lg-2 col-xl-2 p-2 mt-2 m-lg-2 m-xl-2" role="button" onclick=`uniformRemove('${uniform['id']}')`)
                      | Remover
                  div(class="collapse mt-2" id=`collapse-${String(uniform['id']).replace(/\\|\/|\(|\)|\s{1,}/g, '_').toLowerCase()}-1`)
                    div(class="card card-body")
                      h5(class="text-center text-muted border-bottom p-2") Informações Gerais
                      div(class="row border-bottom mt-3")
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-ID-${uniform['id']}`) Código
                          input(type="text" class="form-control" id=`uniform-ID-${uniform['id']}` value=`${uniform['id']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-description-${uniform['id']}`) Descrição
                          input(type="text" class="form-control" id=`uniform-description-${uniform['id']}` value=`${uniform['description']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-quantity-${uniform['id']}`) Quantidade
                          input(type="number" class="form-control" id=`uniform-quantity-${uniform['id']}` value=`${uniform['quantity']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-unitary-${uniform['id']}`) Valor unitario
                          input(type="text" class="form-control" id=`uniform-unitary-${uniform['id']}` value=`${uniform['unitary']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-total-${uniform['id']}`) Valor total
                          input(type="text" class="form-control" id=`uniform-total-${uniform['id']}` value=`${uniform['total']}` disabled)
                        div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
                          label(for=`uniform-monthlycost-${uniform['id']}`) Custo Mensal
                          input(type="text" class="form-control" id=`uniform-monthlycost-${uniform['id']}` value=`${uniform['monthlycost']}` disabled)
          else
            p(class="mt-3") Não existem uniformes registrados.
  script(src="/javascripts/lz-string.min.js")
  script.
    let uniformslength = Number("#{uniformslength}");

    $(() => {
      storage_menu_start('uniforms');

      let i = 0, l = uniformslength;
      for(; i < l; i++) {
        $(`#uniform-unitary-${StringPadZero(i + 1, 6)}, \
          #uniform-total-${StringPadZero(i + 1, 6)}, \
          #uniform-monthlycost-${StringPadZero(i + 1, 6)} \
        `).priceFormat({
          prefix: 'R$ ',
          centsSeparator: ',',
          thousandsSeparator: '.'
        });
      }
    })

    function gotoSystem() {
      document.location = `${baseurl}/system/?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function register() {
      document.location = `${baseurl}/system/uniforms/register?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function uniformEdit(id) {
      document.location = `${baseurl}/system/uniforms/edit/${id}?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function uniformRemove(id) {
      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/uniforms/remove`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "id": id
        }
      })
      .then(response => document.location.reload())
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }

    /**
      Filtros
    */
    function filter_description() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("filter_description");
      filter = input.value.toUpperCase();
      ul = document.getElementById("ul-uniforms");
      li = ul.getElementsByTagName("li");

      for (i = 0; i < li.length; i++) {
        let valid = true;

        a = li[i].getElementsByTagName("h4")[0];
        txtValue = a.textContent || a.innerText;

        if (valid)
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
      }
    }