extends layout

block content
  div(class="row" style="margin-top: -100vh;")
    div(class="d-flex flex-column col-12 bg-medium")
      h1(class="text-center mt-4") Olá #{name} #{surname}
      if acordo_de_confidencialidade['status'] || acordo_de_parceria['status']
        h6(class="text-center mb-auto") Veja seus contratos e termos assinados.
      else
        h6(class="text-center mb-auto") Você ainda não tem contratos e termos assinados.
      hr(class="col-6 mt-3 mb-3 mx-auto")
      div(class="col-12 mt-2 mb-5")
        div(class="jumbotron jumbotron-fluid mb-5")
          div(class="container")
            h3(class="text-break") ACORDO DE CONFIDENCIALIDADE (#{confidencialidade_assinado})
            p(class="lead") Ao assinar esse termo você terá acesso a novas funcionalidades do sistema.
            hr(class="my-4")
            p Funcionalidades: #[br] - Cotação #[br] - Proposta #[br] - Comissão
            if (!acordo_de_confidencialidade['status'])
              div(class="text-center")
                if (acordo_de_confidencialidade['reading'] === 'pending')
                  div(class="bg-mave1 text-white p-2 m-2 border")
                    h4(class="fw-bold text-center text-white p-2") Em processo de análise...
                else if (!acordo_de_confidencialidade['reading'] || acordo_de_confidencialidade['reading'] === 'reading')
                  - let doc_file_1_disabled = acordo_de_confidencialidade['reading'] === 'reading' ? false : true;
                  div(class="input-group p-2 text-white")
                    input(type="file" class="form-control" id="doc-file-1" onchange="docInputChange('doc-file-1', 'doc-file-upload-1')" disabled=doc_file_1_disabled accept="application/pdf")
                  button(type="button" class="btn btn-mave1 button-file-upload col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2 mb-sm-3 mb-md-3 m-lg-2 m-xl-2" onclick=`uploadDoc('doc-file-1', 'doc-file-upload-1', 'ACORDO DE CONFIDENCIALIDADE')` id="doc-file-upload-1" disabled) Arquivar documento assinado
                  a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2 mt-2 mb-sm-3 mb-md-3 m-lg-2 m-xl-2" role="button" onclick=`modalOpen("modal-1")`) Ler e Baixar
            else
              div(class="bg-success bg-gradient p-2 m-2 border")
                h4(class="fw-bold text-center text-white p-2") Seu documento está valido.
        div(class="jumbotron jumbotron-fluid")
          div(class="container mb-5")
            h3(class="text-break") ACORDO DE PARCERIA (#{parceria_assinado})
            p(class="lead") Ao assinar esse termo você terá acesso a novas funcionalidades do sistema.
            hr(class="my-4")
            p Funcionalidades: #[br] - Cotação #[br] - Proposta #[br] - Comissão
            if (!acordo_de_parceria['status'])
              div(class="text-center")
                if (acordo_de_parceria['reading'] === 'pending')
                  div(class="bg-mave1 text-white p-2 m-2 border")
                    h4(class="fw-bold text-center text-white p-2") Em processo de análise...
                else if (!acordo_de_parceria['reading'] || acordo_de_parceria['reading'] === 'reading')
                  - let doc_file_2_disabled = acordo_de_parceria['reading'] === 'reading' ? false : true;
                  div(class="input-group text-white")
                    input(type="file" class="form-control" id="doc-file-2" onchange="docInputChange('doc-file-2', 'doc-file-upload-2')" disabled=doc_file_2_disabled accept="application/pdf")
                  button(type="button" class="btn btn-mave1 button-file-upload col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2 mb-sm-3 mb-md-3 m-lg-2 m-xl-2" onclick=`uploadDoc('doc-file-2', 'doc-file-upload-2', 'ACORDO DE PARCERIA')` id="doc-file-upload-2" disabled) Arquivar documento assinado
                  a(class="btn btn-mave1 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2 mt-2 mb-sm-3 mb-md-3 m-lg-2 m-xl-2" role="button" onclick=`modalOpen("modal-2")`) Ler e Baixar
            else
              div(class="p-2 m-2 border")
                h4(class="fw-bold text-center text-muted p-2") Seu documento está valido.
  div(id="modal-1" class="modal fade mt-5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true")
    div(class="modal-dialog modal-xl modal-dialog-scrollable")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title") ACORDO DE CONFIDENCIALIDADE (#{confidencialidade_assinado})
        div(id="modal-1-scrollable" class="modal-body")
          p(class="text-start")
            | Pelo presente instrumento particular, de um lado, GRUPO MAVE faz parte de um Grupo Econômico, sendo elas:
            | #[b V. MAVE SEGURANÇA E VIGILANCIA LTDA]., sediada Rua Barão de Itaúna, 417 – Lapa – São Paulo – SP – CEP.
            | 05078-080, inscrita no CNPJ 02.662.168.0001-98, #[b S. MAVE SERV.ESP.MÃO DE OBRA GERAL LTDA].,
            | sediada Rua Barão de Itaúna, 417 – Conjunto 02 – Lapa – São Paulo – SP – CEP. 05078-080, 
            | inscrita no CNPJ 08.950.830/0001-91 e #[b MAVE SYSTEMS COMERCIO E SERVICOS DE MONITORAMENTO E SEGURANCA LTDA].,
            | sediada Rua Barão de Itaúna, 417 – Conjunto 01 – Lapa – São Paulo – SP – CEP. 05078-080,
            | inscrita no CNPJ 20.306.152/0001-24, neste ato, representada por seu representante legal #[b CARLINS FERRAZ DOS SANTOS]
            | portador da cédula de identidade RG n° 22.780.719-4, inscrito no CPF/MF sob n° 123.958.238-21, aqui
            | denominada simplesmente de #[b Parte Reveladora], e, de outro, #[b #{name} #{surname}], com sede na #{street},
            | #{number} - #{district} - #{state} - #{city} - CEP. #{zipcode}, inscrito no CNPJPF/MF sob nº #{cnpj},
            | doravante denominado Parte Receptora, ambas devidamente representadas neste ato, quando estiverem conjuntamente
            | referidas, serão consideradas como “PARTES”,
            | #[br] CONSIDERANDO QUE:#[br]
            | A Parte Reveladora resolveu remunerar as empresas denominadas Parceiras de Negócios, para captação de Clientes,
            | denominado doravante “Projeto”, e #[br]#[br]
            | A Parte Receptora, terá acesso às informações confidenciais e/ou às informações de propriedade da Parte Reveladora,
            | relativas ao Projeto, #[br]#[br]
            | Resolvem as PARTES celebrar o presente “Acordo de Confidencialidade” (“Acordo”), que será regido pelas seguintes
            | cláusulas e condições: #[br]#[br]
            | #[b 1. DEFINIÇÕES:] Os seguintes termos e expressões terão os seguintes significados, exceto se de outra forma
            | expressamente previsto neste Acordo: #[br]
            | “Informação Confidencial” significa toda e qualquer informação em qualquer forma que seja divulgada, verbalmente ou
            | por escrito, ou que possa ser lida por leitura ótica, ou qualquer outra forma, incluindo, mas sem limitação a
            | formas, materiais e estratégias de negócios aqui desenvolvidas ou qualquer parte relacionada, os métodos de operação
            | e as aplicações diversas de tais operações, os processos, as fórmulas, os planos, as estratégias, os dados que
            | constituem direitos de propriedade intelectual, ou outros direitos de propriedade intelectual, ou que envolvam
            | segredos comerciais ou de outra natureza da Parte Reveladora, o “know-how foram disponibilizados pela Parte
            | Reveladora à Parte Receptora; ou que tenham sido identificados como confidencial, sejam de propriedade da Parte
            | Reveladora ou de terceiros, ou que sejam de propriedade da ou obtidos pela Parte Receptora mediante visita a
            | qualquer instalação, estabelecimento ou escritório da Parte Reveladora, seja anterior ou posteriormente à celebração
            | deste Acordo, como resultado do relacionamento das Partes ou para o propósito de considerar o Projeto.
            | A fim de se evitar dúvidas, as PARTES esclarecem que não são “Informações Confidenciais” para os fins deste Acordo
            | aquelas que: (a) estejam ou venham a estar disponíveis para o mercado ou ao público em geral que não como resultado
            | de uma divulgação não autorizada da Parte Receptora; ou (b) estejam ou venham a estar disponíveis para a Parte
            | Receptora, livres de quaisquer restrições relativas ao seu uso e divulgação, anteriormente ao seu fornecimento pela
            | Parte Reveladora, nos termos deste Acordo, desde que a fonte de tais informações não estejam sujeitas a qualquer
            | obrigação de sigilo com relação a tais informações; ou (c) estejam ou venham a estar disponíveis para a Parte
            | Receptora através de uma fonte que não seja a Parte Reveladora e que tenha o direito de usar e divulgar as
            | informações e que não esteja vinculada por qualquer obrigação de sigilo com relação a tais informações; ou (d)
            | estejam ou venham a estar disponíveis para a Parte Receptora que não como resultado de visita da Parte Receptora a
            | qualquer instalação, estabelecimento ou escritório da Parte Reveladora ou por divulgação legal, seja pela Parte
            | Reveladora ou por terceiros, desde que a fonte de tais informações não esteja sujeita a qualquer obrigação de sigilo
            | com relação a tais informações. #[br]#[br]
            | #[b 2. LIMITAÇÕES DE USO DA INFORMAÇÃO CONFIDENCIAL:] A Parte Receptora não divulgará qualquer Informação Confidencial
            | da Parte Reveladora a qualquer pessoa, física ou jurídica, exceto na forma prevista neste Acordo. Adicionalmente, 
            | as PARTES concordam e reconhecem que a Informação Confidencial da Parte Reveladora somente poderá ser utilizada 
            | pela Parte Receptora exclusivamente para os fins de desenvolvimento e implantação do Projeto, sendo expressamente 
            | vedada qualquer forma de uso da Informação Confidencial que não para esta finalidade. #[br]#[br]
            | #[b 3. REVELAÇÃO/DIVULGAÇÃO DE INFORMAÇÃO CONFIDENCIAL:] (A) A Parte Receptora concorda em proteger o sigilo da 
            | Informação Confidencial da Parte Reveladora da mesma maneira que protege o sigilo de sua própria Informação 
            | Confidencial. #[br]#[br]
            | (B) O acesso a Informação Confidencial será restrito aos executivos de negócios, contratados e consultores da Parte
            | Receptora que estiverem envolvidos no Projeto e que tenham necessidade de ter acesso a Informação Confidencial. #[br]#[br]
            | (C) Qualquer Informação Confidencial da Parte Reveladora continuará sendo propriedade da Parte Reveladora,
            | independentemente da forma de sua transmissão, sendo certo que em momento algum a transmissão da Informação
            | Confidencial poderá ser entendida ou interpretada como uma renúncia ou transferência de tais direitos de propriedade. #[br]#[br]
            | (D) A Informação Confidencial não poderá ser copiada ou reproduzida sem o prévio consentimento por escrito da Parte
            | Reveladora. Em caso e se permitida, a cópia da Informação Confidencial, o aviso de sua condição deverá constar
            | claramente de tal cópia, conforme o original, sendo certo que tal cópia pertencerá à Parte Reveladora. #[br]#[br]
            | (E) A Parte Receptora obriga-se a: (i) copiar qualquer material que contenha Informação Confidencial da Parte
            | Reveladora somente nos casos estritamente necessários para os objetivos previamente apresentados à Parte Reveladora
            | e com a aprovação prévia por escrito da Parte Reveladora; (ii) não utilizar, copiar, transformar, armazenar qualquer
            | Informação Confidencial da Parte Reveladora em seus computadores ou redes exteriores e não transmitir, de qualquer
            | maneira, a Informação Confidencial fora de seus escritórios; (iii) manter toda e qualquer Informação Confidencial da
            | Parte Reveladora separada de seus próprios documentos e Informações Confidenciais; (iv) restringir o acesso a
            | Informação Confidencial da Parte Reveladora exclusivamente aos seus diretores, empregados, contratados e consultores
            | envolvidos no Projeto e para os fins do Projeto, desde que tais diretores, empregados, contratados e consultores
            | concordem em se submeter ao disposto neste Acordo; (v) não utilizar qualquer Informação Confidencial da Parte
            | Reveladora para atrair cliente ou buscar uma vantagem comercial sobre a Parte Reveladora ou utilizar a Informação
            | Confidencial de qualquer outra forma que possa causar um prejuízo à Parte Reveladora e/ou aos seus negócios; e (vi)
            | notificar todos os seus respectivos diretores, empregados, contratados e/ou consultores que têm acesso a Informação
            | Confidencial da Parte Reveladora da confidencialidade das informações e das obrigações assumidas por ela neste Acordo. #[br]#[br]
            | (F) A Parte Receptora reconhece que a Informação Confidencial divulgada e disponibilizada pela Parte Reveladora sob
            | os termos deste Acordo tem valor inestimável e que a sua divulgação, sob qualquer forma, em desacordo ao disposto
            | neste Acordo, poderá causar danos irreparáveis à Parte Reveladora. Dessa forma, a Parte Receptora reconhece que a
            | Parte Reveladora poderá utilizar-se de todas e quaisquer medidas legais disponíveis para evitar tal divulgação ou
            | mesmo reparar os danos por ela causados. #[br]#[br]
            | (G) A Parte Receptora deverá notificar prontamente a Parte Reveladora, por escrito, no caso de qualquer utilização
            | ou divulgação não autorizada de Informação Confidencial que venha a ter conhecimento, sendo que a Parte Receptora
            | deverá prover a assistência necessária para que tal utilização ou divulgação cesse imediatamente. #[br]#[br]
            | (H) O presente Acordo não confere a Parte Receptora o direito de utilizar o nome comercial ou qualquer marca ou
            | logotipo, ou qualquer outro direito de propriedade intelectual da Parte Reveladora, utilização essa que somente
            | poderá ocorrer mediante autorização prévia por escrito da outra parte. #[br]#[br]
            | #[b 4. DEVOLUÇÃO DE INFORMAÇÃO CONFIDENCIAL:] Toda Informação Confidencial que vier a ser disponibilizada em 
            | razão deste Acordo, inclusive cópias, se existirem, deverá ser devolvida à Parte Reveladora no prazo de 2 (dois) 
            | dias úteis, a contar da ocorrência da data da primeira das seguintes hipóteses: (a) término do prazo de vigência 
            | para a divulgação de Informações Confidenciais, estabelecido na Cláusula 7 abaixo; ou (b) solicitação da Parte 
            | Reveladora à Parte Receptora por escrito para este fim; ou ainda (c) celebração pelas PARTES de eventuais acordos 
            | definitivos com relação à implementação do Projeto, acordos estes que deverão conter disposições específicas com 
            | relação à divulgação de informações pelas PARTES. #[br]#[br]
            | #[b 5. REVELAÇÃO OBRIGATÓRIA DE INFORMAÇÃO:] Na eventualidade da Parte Receptora ter recebido qualquer ordem de 
            | autoridade judicial determinando a revelação de Informação Confidencial transmitida pela Parte Reveladora nos 
            | termos deste Acordo, a Parte Receptora deverá notificar a Parte Reveladora imediatamente, de forma que possam 
            | ser tomadas, pela Parte Reveladora, todas as medidas necessárias para que tal revelação não seja feita. 
            | Na hipótese de a Parte Reveladora não obter qualquer medida para não revelação da Informação Confidencial, 
            | a Parte Receptora somente revelará a parte da Informação Confidencial exigida pela ordem judicial, 
            | encaminhando à Parte Reveladora cópia da parte da Informação Confidencial revelada, da 
            | forma como foi revelada. #[br]#[br]
            | #[b 6. DESCUMPRIMENTO:] Na eventualidade do descumprimento de quaisquer termos e condições deste Acordo 
            | pela Parte Receptora, a mesma concorda em encontrar uma solução adequada para tal descumprimento. 
            | Caso as PARTES não cheguem a um acordo dentro do prazo de 5 (cinco) dias úteis, a contar da data 
            | da notificação, por escrito, sobre o descumprimento deste Acordo, a Parte Receptora, desde já, 
            | concorda em renunciar ao uso de qualquer Informação Confidencial, devolvendo todos os
            | documentos e materiais relacionados a Informação Confidencial da outra parte. Sem prejuízo 
            | da devolução das Informações Confidenciais, em caso de qualquer descumprimento do disposto 
            | neste Acordo, a Parte Reveladora poderá tomar todas as medidas que julgar pertinentes, 
            | inclusive para reparação de eventuais custos, danos ou prejuízos de
            | qualquer natureza decorrentes do descumprimento. A multa por revelação das informações 
            | confidenciais será de Cem mil Reais (R$ 100.000,00). #[br]#[br]
            | #[b 7. VIGÊNCIA E PRAZO:] Este Acordo entrará em vigor na data de assinatura e permanecerá 
            | válido por um período de 05 (cinco) anos, prazo este inicialmente considerando suficiente 
            | para a proibição da divulgação das Informações Confidenciais necessárias
            | ao Projeto, o qual poderá – se necessário, ser prorrogado por aditivo. 
            | Sem prejuízo do disposto nesta Cláusula 7, a obrigação de confidencialidade da Parte Receptora 
            | com relação a Informação Confidencial da Parte Reveladora, permanecerá válida pelo prazo adicional 
            | de 05 (cinco) anos, contados a partir da data da efetiva devolução pela Parte Receptora da Informação 
            | Confidencial para a Parte Reveladora. #[br]#[br]
            | #[b 8. NOTIFICAÇÕES:] Todas as notificações e outras comunicações previstas neste Acordo serão feitas 
            | por escrito e consideradas recebidas na data do efetivo recebimento pelo Departamento Jurídico de 
            | cada uma das PARTES notificada, em seu endereço. As notificações serão enviadas aos endereços indicados
            | no preâmbulo ou para outro endereço/departamento, conforme diversamente informado por uma a outra das PARTES. #[br]#[br]
            | #[b 9. DISPOSIÇÕES GERAIS:] (A) O presente Acordo e todas as obrigações e direitos dele decorrente não poderão 
            | ser cedidos por qualquer das PARTES a quaisquer terceiros sem o prévio consentimento por escrito da outra parte. #[br]#[br]
            | (B) Os representantes das PARTES declaram que possuem plenos poderes e as autorizações societárias necessárias para
            | assinar o presente Acordo e assumir as obrigações aqui prevista. #[br]#[br]
            | (C) O presente Acordo obriga as PARTES por si e por seus sucessores a qualquer tempo. Todas as obrigações aqui
            | previstas são irrevogáveis e irretratáveis, ficando desde logo estabelecido entre as PARTES que o eventual pagamento
            | de perdas e danos não será considerado reparação suficiente para o inadimplemento. #[br]#[br]
            | (D) O presente Acordo não poderá ser alterado ou modificado em qualquer das suas Cláusulas, a não ser mediante
            | acordo mútuo e escrito entre as PARTES. #[br]#[br]
            | (E) A assinatura do presente Acordo não implica em qualquer associação entre as PARTES. #[br]#[br]
            | (F) O presente acordo é celebrado no Brasil, para ser cumprido segundo as leis brasileiras, devendo qualquer dúvida
            | ou questão dele oriunda ser dirimida no Foro da Comarca da Capital de São Paulo, renunciando as PARTES a qualquer
            | outro por mais privilegiado que seja.
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Voltar
          button(id="modal-1-button" type="button" class="btn btn-light" onclick="printerDoc('ACORDO DE CONFIDENCIALIDADE')" data-bs-dismiss="modal" disabled) Imprimir
  div(id="modal-2" class="modal fade mt-5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true")
    div(class="modal-dialog modal-xl modal-dialog-scrollable")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title") ACORDO DE PARCERIA (#{parceria_assinado})
        div(id="modal-2-scrollable" class="modal-body")  
          p(class="text-start")
            | #[b INSTRUMENTO PARTICULAR DE CONTRATO DE PARCERIA COMERCIAL AUTÔNOMA E OUTRAS AVENÇAS] #[br]
            | O GRUPO MAVE faz parte de um Grupo Econômico, sendo elas: #[b V.MAVE SEGURANÇA E VIGILANCIA LTDA].,
            | sediada Rua Barão de Itaúna, 417 – Lapa – São Paulo – SP – CEP. 05078-080, inscrita no CNPJ 02.662.168.0001-98,
            | #[b S.MAVE SERV.ESP.MÃO DE OBRA GERAL LTDA]., sediada Rua Barão de Itaúna, 417 – Conjunto 02 – Lapa – São Paulo –
            | SP – CEP. 05078-080, inscrita no CNPJ 08.950.830/0001-91 e
            | #[b MAVE SYSTEMS COMERCIO E SERVICOS DE MONITORAMENTO E SEGURANCA LTDA].,
            | sediada Rua Barão de Itaúna, 417 – Conjunto 01 – Lapa – São Paulo – SP – CEP. 05078-080,
            | inscrita no CNPJ 20.306.152/0001-24, aqui denominado simplesmente de #[b GRUPO MAVE] e, de outro lado, #{name} #{surname},
            | com endereço na #{street}, #{number} - #{district} - #{state} - #{city} - CEP. #{zipcode}, inscrito no
            | CNPJPF/MF sob nº #{cnpj} e no Conselho de Representantes Comerciais sob nº doravante denominado simplesmente
            | #[b “Parceiro”] #[br]#[br]
            | Pelo presente #[b INSTRUMENTO PARTICULAR DE CONTRATO DE PARCERIA COMERCIAL AUTÔNOMA E OUTRAS AVENÇAS]
            | (“Contrato”), o #[b Grupo MAVE] juntamente com o #[b Parceiro], doravante denominados, simplesmente “Partes”,
            | resolvem regular suas relações de parceria nos termos das cláusulas e condições seguintes: #[br]#[br]
            | #[b CLÁUSULA PRIMEIRA – DO OBJETO] #[br]
            | 1.1 O presente Contrato tem por objeto a parceria comercial autônoma nos termos do art. 726 do CC, que pode se
            | aplicar à espécie, na exclusividade a comissão pode ser devida, mesmo em caso de negociação direta entre as partes,
            | salvo se comprovada sua inércia ou ociosidade. Ademais, a exclusividade pode denotar subordinação e ensejar vínculo
            | trabalhista, recordando o parágrafo 1º do art. 442-B da CLT, introduzido pela MP 808/2017, que, porém, não foi
            | convertida em lei. Entre as Partes, sem qualquer subordinação e controle de jornada, com a finalidade de unirem seus
            | esforços para que o #[b Parceiro] busque novos clientes para contratação dos serviços oferecidos pelo
            | #[b Grupo MAVE], mediante pagamento de comissão. #[br]#[br]
            | 1.2 Fica vedado ao Parceiro representar ou ter parceria comercial com outras empresas que comercializem os mesmos
            | produtos e serviços do #[b Grupo Mave] dos quais o Parceiro declara ter perfeita ciência dos mesmos. #[br] #[br]
            | #[b CLÁUSULA SEGUNDA – DA CAPTAÇÃO DOS CLIENTES] #[br]
            | 2.1 O #[b Parceiro] buscará, da forma que melhor lhe convier, novos clientes que tenham interesse em contratar os
            | serviços prestados pelo #[b Grupo Mave] em todo o Estado de São Paulo e ou áreas previamente acordadas mediante
            | comunicação específica. #[br]#[br]
            | 2.2 O #[b Parceiro] informará os dados dos potenciais clientes ao #[b Grupo MAVE], que tomará todas as
            | providências de cunho comercial para a efetivação da contratação, tais como visitas, demonstração técnica,
            | apresentação de preços e propostas de serviço e outras que se fizerem necessárias, não obrigando, porém, a qualquer
            | êxito. O #[b Grupo MAVE] fornecerá os primeiros 10 Kits de apresentações contendo: Folders, Pastas com bolsa e
            | Envelopes personalizados grátis, para divulgação junto aos prospectados, os demais terá um custo unitário no valor
            | de R$ 6,76 (seis reais e setenta e seis centavos). #[br]#[br]
            | 2.3 Não serão impostas ao #[b Parceiro] quaisquer tipos de cotas ou metas de vendas, e a assinatura do presente
            | Contrato não implica em qualquer obrigação de cunho trabalhista ou societário entre as partes. #[br]#[br]
            | 2.4 No caso do encerramento do contrato, independente da motivação, os clientes captados passam a ser geridos pelo
            | #[b Grupo MAVE], não sendo devida qualquer comissão posterior. #[br]#[br]
            | 2.5 Caberá ao #[b Grupo MAVE] acatar ou não a relação de clientes informada pelo Parceiro e constante do Anexo B,
            | como forma de evitar conflitos de interesses do #[b Grupo MAVE] e ou Parceiros. #[br]#[br]
            | #[b CLÁUSULA TERCEIRA – DO PAGAMENTO DE COMISSÃO] #[br]
            | 3.1 Cada indicação feita pelo #[b Parceiro] ao #[b Grupo MAVE] que eventualmente culminar em assinatura de
            | contrato de prestação de serviços, dará ao #[b Parceiro] o direito ao recebimento de um valor em dinheiro,
            | a ser pago a título de comissão conforme o Anexo A. O qual, somente carimbado e rubricado pelas partes,
            | valera como anexo deste. #[br]#[br]
            | 3.2 O #[b Parceiro] terá direito à comissão estabelecida na presente cláusula no pagamento da primeira fatura por
            | parte do cliente indicado ao #[b Grupo MAVE]. Referida comissão será paga até 5 (cinco dias) do mês subsequente à
            | quitação da fatura, mediante depósito em conta corrente indicada pelo #[b Parceiro] ou de outra forma a ser
            | condicionada pelas Partes. #[br]#[br]
            | 3.3 O #[b Parceiro] terá direito ao recebimento do valor a título de comissão da primeira fatura líquida (sem
            | impostos), a contar da quitação da primeira fatura e sempre mediante apresentação da nota fiscal de serviços de
            | intermediação. Caso não haja pagamento da fatura mensal por parte do cliente indicado, não haverá pagamento da
            | comissão correspondente ao #[b Parceiro]. #[br]#[br]
            | 3.4. Não serão devidas comissões por aproximações inexitosas, em nenhuma hipótese, não se obrigando qualquer empresa
            | do Grupo MAVE a celebrar contratos com os clientes indicados pelo #[b Parceiro]. #[br]#[br]
            | 3.4. Não serão devidas comissões por aproximações inexitosas, em nenhuma hipótese, não se obrigando qualquer empresa
            | do Grupo MAVE a celebrar contratos com os clientes indicados pelo #[b Parceiro]. #[br]#[br]
            | 3.5 Para os contratos de tempo indeterminado o pagamento da comissão é parcela única; #[br]#[br]
            | 3.6 A comissão vitalícia é limitada ao primeiro período contratual, ou seja, em 12 meses, 24 meses, ou 36 meses, não
            | fazendo parte da renovação; #[br]#[br]
            | 3.7 Reajuste: Os valores apresentados são para o período do contrato, valores fixos sem reajustes. #[br]#[br]
            | #[b CLÁUSULA QUARTA – DO PRAZO DE VIGÊNCIA] #[br]
            | 4.1 O presente contrato vigorará por prazo indeterminado, e poderá ser rescindido imotivadamente pelas Partes
            | mediante comunicação prévia de 10 (dez) dias, sem qualquer penalidade ou indenização, não restando quaisquer
            | obrigações entre as mesmas, exceto às que se referirem ao pagamento de comissões já vencidas. #[br]#[br]
            | #[b CLÁUSULA QUINTA - DAS OBRIGAÇÕES DO GRUPO MAVE] #[br]
            | 5.1 O #[b Grupo MAVE] se obriga a: #[br]#[br]
            | a) fornecer ao #[b Parceiro] todas e quaisquer informações inerentes aos produtos e serviços que comercializa,
            | para que este possa cumprir com as diretrizes estabelecidas no presente contrato; #[br]#[br]
            | b) fornecer ao #[b Parceiro] as informações sobre fechamento ou não de contrato de prestação de serviços com os
            | clientes por ele indicados; #[br]#[br]
            | c) efetuar correta e pontualmente o pagamento das comissões acordadas no presente Contrato; #[br]#[br]
            | d) encaminhar sempre que solicitado ao #[b Parceiro] relatório com os valores das comissões pagas, de acordo com
            | as faturas dos clientes indicados pelo #[b Parceiro]; #[br]#[br]
            | e) envidar seus melhores esforços no cumprimento do presente Contrato. #[br]#[br]
            | #[b CLÁUSULA SEXTA - DAS OBRIGAÇÕES DO PARCEIRO] #[br]
            | 6.1 O #[b Parceiro] se obriga a: #[br] #[br]
            | a) fornecer ao #[b Grupo MAVE] todos os dados dos clientes que indicar para a aquisição dos produtos e serviços
            | ofertados pelo #[b Grupo MAVE]; #[br]#[br]
            | b) fornecer corretamente aos clientes que buscar, todas as informações inerentes aos produtos e serviços
            | comercializados pelo #[b Grupo MAVE], de forma a cumprir com as diretrizes estabelecidas no presente
            | contrato; #[br]#[br]
            | c) não oferecer abatimento, desconto ou dilação de prazo sem expressa autorização por parte do
            | Grupo MAVE; #[br]#[br]
            | d) fornecer ao #[b Grupo MAVE] quando lhe for solicitado, informações sobre o andamento das tentativas de
            | captação; #[br]#[br]
            | e) fornecer relação dos clientes que atuará inicialmente e de forma constante, de modo a evitar conflito com o time
            | comercial do #[b Grupo MAVE] e outros Parceiros, a relação inicial será objeto do Anexo B e que deverá ser mantido
            | atualizado; #[br]#[br]
            | f) cabe ao parceiro organizar a primeira reunião presencial com o time comercial do #[b Grupo MAVE] e o cliente;
            | bem como fazer todo o acompanhamento do processo de forma ativa e ou indireta; #[br]#[br]
            | g) envidar seus melhores esforços no cumprimento do presente Contrato, portando-se sempre correta e eticamente,
            | trajando-se apropriadamente e não denegrindo, em hipótese alguma, as empresas ou serviços do #[b Grupo MAVE] #[br]#[br]
            | #[b CLÁUSULA SÉTIMA – DESPESAS] #[br]
            | 7.1 As despesas necessárias ao exercício normal da parceria comercial estabelecida no presente Contrato, nas quais
            | se referem à locomoção, hospedagem, telegramas, porte mensal, selos, transporte de mostruários etc., correrão por
            | conta e risco exclusivo do #[b Parceiro]. #[br]#[br]
            | 7.2 O #[b Parceiro] declara que não fez, e não fará, investimentos significativos para a celebração do presente
            | Contrato e o exercício das atividades sob o mesmo. #[br]#[br]
            | #[b CLÁUSULA OITAVA – CONFIDENCIALIDADE] #[br]
            | 8.1 Para os propósitos do presente Contrato de Parceria, serão consideradas "Informações Confidenciais" todas e
            | quaisquer informações e/ou dados de natureza confidencial (incluindo, sem limitação, os termos e condições deste
            | Contrato e todos os segredos e/ou informações operacionais, econômicas e técnicas, bem como demais informações
            | comerciais ou "know-how") que tenham sido direta ou indiretamente fornecidos ou divulgados por uma das Partes à
            | outra sob ou em função deste Contrato, incluindo-se as informações de natureza comercial e os contratos celebrados
            | com terceiros para a comercialização dos produtos e serviços, mesmo as obtidas durante as negociações precedentes à
            | formalização deste instrumento. #[br]#[br]
            | 8.2 Cada uma das Partes concorda que, sem o consentimento escrito da outra Parte, não poderá revelar ou divulgar,
            | direta ou indiretamente, no todo ou em parte, isolada ou juntamente com terceiros, qualquer Informação Confidencial
            | da outra Parte, exceto na medida do necessário para cumprir as obrigações ajustadas sob este Contrato. As
            | disposições desta Cláusula sobreviverão mesmo após o término da vigência deste contrato ou rescisão do mesmo por
            | qualquer razão. #[br]#[br]
            | 8.3. A violação da presente obrigação de confidencialidade pelo Parceiro lhe acarretará penalidade equivalente ao
            | valor econômico da informação violada, p.e. uma proposta de serviços, sem prejuízo de indenização
            | suplementar. #[br]#[br]
            | #[b CLÁUSULA NONA – DISPOSIÇÕES GERAIS E PENALIDADE] #[br]
            | 9.1 Contrato Integral. As disposições deste Contrato refletem a íntegra dos entendimentos e acordos entre as Partes
            | com relação ao objeto deste Contrato, prevalecendo sobre qualquer documento ou negociação anterior, não refletida
            | expressamente neste. #[br]#[br]
            | 9.2 Cessão. As Partes não poderão ceder ou transferir este Contrato, tampouco ceder, transferir ou onerar qualquer
            | de seus direitos ou obrigações sob este Contrato, sem o prévio e expresso consentimento da outra Parte. #[br]#[br]
            | 9.3 Notificações. Todas as notificações, avisos ou comunicações decorrentes deste Contrato serão efetuados por
            | escrito, através de e-mails, carta protocolada ou através das vias cartorária ou judicial. As notificações, avisos
            | ou comunicações a que se refere esta cláusula serão enviados aos endereços das PARTES constantes do preâmbulo deste
            | Instrumento. #[br]#[br]
            | 9.4 Alteração. Este Contrato somente poderá ser alterado mediante assinatura de instrumento escrito pelos
            | representantes legais de ambas as Partes. #[br]#[br]
            | 9.5 Autoridade. As Partes, neste ato, entendem, reconhecem e aceitam que este Contrato não gera qualquer poder ou
            | autorização para vincular as outras Partes em qualquer transação comercial, tampouco, para assumir ou criar
            | quaisquer obrigações ou oferecer garantias, expressas ou implícitas, em nome das outras Partes. #[br]#[br]
            | 9.6 A falta de manifestação, por qualquer das partes, quanto ao descumprimento ou cumprimento de quaisquer
            | disposições deste Contrato, será considerada simples tolerância, não implicando em novação, remissão, ou qualquer
            | modificação deste acordo escrito, bem como não prejudicará o exercício do mesmo direito em época posterior, e nem
            | servirá de precedente para a repetição de ato tolerado. #[br]#[br]
            | 9.7 Em caso de nulidade, total ou parcial, de uma disposição do contrato, as restantes disposições do mesmo não
            | serão afetadas pela disposição nula, valendo as demais cláusulas que não foram alteradas. #[br]#[br]
            | 9.8. Salva, penalidade especifica, e sem prejuízo de indenização suplementar, o descumprimento de obrigações do
            | presente acarretará à parte faltosa penalidade em favor da inocente equivalente à remuneração para nos 3 (três)
            | meses anteriores ao inadimplemento, ou R$ #{valor}, o que for maior. #[br]#[br]
            | #[b CLÁUSULA DÉCIMA - DO FORO] #[br]
            | 10.1 Fica eleito o foro da cidade de São Paulo – SP para dirimir eventuais controvérsias que surgirem entre as
            | partes. E por estarem justos e contratados, as partes firmam o presente instrumento, em duas (02) vias de igual teor
            | e forma, na presença das testemunhas abaixo, para que produza seus jurídicos e legais efeitos. #[br]#[br]
            | #[b Anexo A – Comissionamento] #[br]
            | Caberá ao #[b Parceiro] o comissionamento de 10 % (dez por cento), da primeira fatura líquida mensal integral, sem
            | impostos, devidamente quitada pelo cliente para todos os contratos fechados com taxa de administração e lucro mínima
            | acima ou igual à 12% (doze por cento). #[br]#[br]
            | Qualquer condição diferente, deverá ser tratada em comum acordo entre às Partes. #[br]#[br]
            | #[b Anexo B – Relação Nominal de Clientes de Prospecção] #[br]
            | Os clientes nominados abaixo, serão reavaliados em conjunto a cada 180 (cento e oitenta) dias, e tomada a decisão em
            | conjunto se continua ou não na responsabilidade do Parceiro.
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Voltar
          button(id="modal-2-button" type="button" class="btn btn-light" onclick="printerDoc('ACORDO DE PARCERIA')" data-bs-dismiss="modal" disabled) Imprimir
  script(src="/javascripts/lz-string.min.js")
  script.
    $(document).ready(() => {})

    var readAll_1 = false,
      readAll_2 = false;

    $("#modal-1-scrollable").on("scroll", function() {
      if (readAll_1) return;

      readAll_1 = this.scrollHeight - this.scrollTop === this.clientHeight;

      if (readAll_1) {
        $("#modal-1-button")
          .addClass('btn-primary')
          .removeClass('btn-light');
        document.getElementById("modal-1-button").disabled = false;
      }
    });

    $("#modal-2-scrollable").on("scroll", function() {
      if (readAll_2) return;

      readAll_2 = this.scrollHeight - this.scrollTop === this.clientHeight;

      if (readAll_2) {
        $("#modal-2-button")
          .addClass('btn-primary')
          .removeClass('btn-light');
        document.getElementById("modal-2-button").disabled = false;
      }
    });

    function gotoSystem() {
      document.location = `${baseurl}/system?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    function docInputChange(inputID, buttonID) {
      if (document.getElementById(inputID).files.length > 0) {
        document.getElementById(buttonID).disabled = false;
      } else {
        document.getElementById(buttonID).disabled = true;
      }
    }

    function printerDoc(docName) {
      alerting('O download iniciara em breve...');
      window.open(
        `${baseurl}/user/docs/print?authorization=${String("#{authorization}")}&docname=${String(docName)}&name=${String("#{name} #{surname}")}&street=${String("#{street}")}&number=${String("#{number}")}&district=${String("#{district}")}&state=${String("#{state}")}&city=${String("#{city}")}&zipcode=${String("#{zipcode}")}&cnpj=${String("#{cnpj}")}&day=${String("#{day}")}&month=${String("#{month}")}&year=${String("#{year}")}&valor=${String("#{valor}")}&usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`,
        "_blank"
      );
    }

    function uploadDoc(docInputID, docButtonID, docname) {
      let formData = new FormData(),
        docFile = document.getElementById(`${docInputID}`);

      formData.append("attachment", docFile.files[0]);

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/user/docs/upload`,
        headers: {
          "Content-Type": "multipart/form-data",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress'),
          "authorization": "#{authorization}",
          "docname": docname
        },
        data: formData
      })
      .then(() => document.location.reload())
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }