div(class="app-page-manual")
    div(class="div-content")
        h4(id="text1")
            | O que é Monday.com?
        p
            | monday.com é um sistema operacional de trabalho que permite que as organizações
            | criem aplicativos personalizados de fluxo de trabalho em um ambiente sem
            | código — para executar projetos, processos e trabalho diário.
        iframe(
            class="col-6"
            height="315"
            src="https://www.youtube.com/embed/z6uhpXph-QM" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        iframe(
            class="col-6"
            height="315"
            src="https://www.youtube.com/embed/S_1ZYqWT6so" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        iframe(
            class="col-6"
            height="315"
            src="https://www.youtube.com/embed/_UJzE1RkjCA" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        iframe(
            class="col-6"
            height="315"
            src="https://www.youtube.com/embed/IWGG5JHBiEI" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
    div(class="div-content")
        h4(id="text2")
            | Como Acessar
        p
            | Acesse: #[a(href="https://auth.monday.com/auth/login_monday" target="_blank") https://auth.monday.com/auth/login_monday]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/m7frGny3Sx4" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
    div(class="div-content")
        h4(id="text3")
            | Agenda de Recrutamento
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/wZ1TuEmldn4" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | A agenda dos recrutadores é compartilhada entre os mesmos. Agilidade é o que define a agenda digital!
        p
            | #[b Processo] #[br]
            | Agendar candidatos na fase de recrutamento, permitindo digitalizar a agenda do recrutador.
        p
            | #[b Fluxo] #[br]
            | O tipo de fluxo organizacional permite que os itens sejam criados a partir de qualquer grupo de trabalho.
        p
            | #[b Membros com Acesso] #[br]
            | - Carlins Ferraz #[b (Presidente)] #[br]
            | - Adriano Patrocínio #[b (Gerente Administrativo)] #[br]
            | - Willian Pereira #[b (Analista de Recursos Humanos)] #[br]
            | - Luiz Guilherme #[b (Jovem Aprendiz)] #[br]
        p
            | #[b Automações]
            | #[br] - Ao definir o valor da coluna #[b "Enviar a Agenda de Seleção"] para #[b "Enviado"], será criado um item na área de trabalho #[b "Agenda de Seleção".]
            | #[br] - Sempre que um item for criado a coluna #[b "Data de Registro"] terá o valor definido para a #[b "Data Atual".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Não Atendeu"], o item será movido para o grupo de trabalho #[b "Inativos".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Entrará em contato"], o item será movido para o grupo de trabalho #[b "Ativos".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Entrou em contato"], o item será movido para o grupo de trabalho #[b "Ativos".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Caixa Postal"], o item será movido para o grupo de trabalho #[b "Inativos".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Atendeu"], o item será movido para o grupo de trabalho #[b "Ativos".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Não Contratar"], o item será movido para o grupo de trabalho #[b "Bloqueados".]
            | #[br] - Ao definir o valor da coluna #[b "Motivo"] para #[b "Recusou a Vaga"], o item será movido para o grupo de trabalho #[b "Inativos".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Ativos]
            | #[br] - #[b Inativos]
            | #[br] - #[b Bloqueados]
    div(class="div-content")
        h4(id="text4")
            | Agenda de Seleção
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/y0EhYA4TSFU" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | A agenda dos recrutadores é compartilhada entre os mesmos. Agilidade é o que define a agenda digital!
        p
            | #[b Processo] #[br]
            | Agendar candidatos na fase de seleção, permitindo digitalizar a agenda do recrutador.
        p
            | #[b Fluxo] #[br]
            | O tipo de fluxo organizacional permite que os itens sejam criados a partir de qualquer grupo de trabalho.
        p
            | #[b Membros com Acesso] #[br]
            | - Carlins Ferraz #[b (Presidente)] #[br]
            | - Adriano Patrocínio #[b (Gerente Administrativo)] #[br]
            | - Willian Pereira #[b (Analista de Recursos Humanos)] #[br]
            | - Luiz Guilherme #[b (Jovem Aprendiz)] #[br]
        p
            | #[b Automações]
            | #[br] - Sempre que um item for criado a coluna #[b Data de Registro"] terá o valor definido para a #[b Data Atual".]
            | #[br] - Ao definir o valor da coluna #[b "Status"] para #[b "2ª Etapa"], o item será movido para o grupo de trabalho #[b "Ativos".]
            | #[br] - Ao definir o valor da coluna #[b "Status"] para #[b "Não Compareceu"], o item será movido para o grupo de trabalho #[b "Inativos".]
            | #[br] - Ao definir o valor da coluna #[b "Status"] para #[b "Reprovado"], o item será movido para o grupo de trabalho #[b "Inativos".]
            | #[br] - Ao definir o valor da coluna #[b "Status"] para #[b "Vaga Cancelada"], o item será movido para o grupo de trabalho #[b "Inativos".]
            | #[br] - Ao definir o valor da coluna #[b "Status"] para #[b "Aprovado"], o item será movido para o grupo de trabalho #[b "Aprovados".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Ativos]
            | #[br] - #[b Aprovados]
            | #[br] - #[b Inativos]
    div(class="div-content")
        h4(id="text5")
            | Requisições de Recrutamento
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/F2c6hZsaaHI" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | Esse modulo tem como objetivo organizar as requisições de vaga entre os departamento da empresa.
        p
            | #[b Processo] #[br]
            | Efetuar a requisição de vagas ao departamento de recursos humanos.
        p
            | #[b Fluxo]
            | #[br] O processo deve se iniciar pelo grupo de trabalho “Requisições”.
            | #[br] Os recrutadores deverão identificar as requisições em aberto e validar/rejeitar.
            | #[br] O gerente do departamento deverá identificar suas requisições em aberto e deverá aprovar/rejeitar.
            | #[br] As requisições aprovadas pelos recrutadores e gerentes, serão movidas para o grupo de trabalho “Aprovados” !{"&"} será criado um novo item na área de trabalho “Recrutamento !{"&"} Seleção”.
        p
            | #[b Membros com acesso] #[br]
            | Todos os membros da equipe.
        p
            | #[b Automações]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Aprovador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Validador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - Sempre que um item for criado a coluna #[b "Data de Registro"] terá o valor definido para a #[b "Data Atual".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e o valor da coluna #[b "Aprovador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e o valor da coluna #[b "Validador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e a coluna #[b "Aprovador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Recrutamento e Seleção".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e a coluna #[b "Validador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Recrutamento e Seleção".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Requisições]
            | #[br] - #[b Atrasados]
            | #[br] - #[b Aprovados]
            | #[br] - #[b Rejeitados]
    div(class="div-content")
        h4(id="text6")
            | Recrutamento e Seleção
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/zXKejXt19Hc" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | Esse modulo tem como objetivo ter o gerenciamento das requisições de vaga #[b "aprovadas"] na área de trabalho #[b "Requisições de Recrutamento".]
        p
            | #[b Processo] #[br]
            | Gerenciar as requisições de vaga entre os departamentos.
        p
            | #[b Fluxo]
            | #[br] - O processo terá um fluxo finito, enquanto houver itens nos grupos de trabalho: "Em Andamento" e "Atrasados".
            | #[br] - Os recrutadores deverão duplicar os itens para cada novo "candidato" associado a vaga.
            | #[br] - Os recrutadores deverão aprovar/rejeitar as requisições que estão no grupo de trabalho: "Em Andamento" e/ou "Atrasados".
            | #[br] - O gerente administrativo deverá aprovar/rejeitar as requisições que estão no grupo de trabalho: "Em Andamento" e/ou "Atrasados".
            | #[br] - O gerente administrativo deverá aprovar/rejeitar a coluna "Vale Transporte (Aprovador)", para que a coluna "Vale Transporte (Valor)" tenha seu valor efetivado.
            | #[br] - As requisições aprovadas pelos recrutadores e gerentes, serão movidas para o grupo de trabalho “Aprovados” !{"&"} será criado um novo item na área de trabalho “Admissão”.
        p
            | #[b Membros com Acesso] #[br]
            | - Carlins Ferraz #[b (Presidente)] #[br]
            | - Adriano Patrocínio #[b (Gerente Administrativo)] #[br]
            | - Willian Pereira #[b (Analista de Recursos Humanos)] #[br]
            | - Luiz Guilherme #[b (Jovem Aprendiz)] #[br]
        p
            | #[b Automações]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Aprovador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Validador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - Sempre que um item for criado a coluna #[b "Data de Registro"] terá o valor definido para a #[b "Data Atual".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e o valor da coluna #[b "Aprovador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e o valor da coluna #[b "Validador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e a coluna #[b "Aprovador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Admissão".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e a coluna #[b "Validador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Admissão".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Em Andamento]
            | #[br] - #[b Atrasados]
            | #[br] - #[b Aprovados]
            | #[br] - #[b Rejeitados]
    div(class="div-content")
        h4(id="text7")
            | Admissão
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/DEK09Rh-j9s" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | Esse modulo tem como objetivo ter o gerenciamento das admissões #[b "geradas"] pela área de trabalho #[b "Recrutamento e Seleção".]
        p
            | #[b Processo] #[br]
            | Gerenciar as admissões entre os departamentos.
        p
            | #[b Fluxo]
            | #[br] - O processo terá um fluxo finito, enquanto houver itens nos grupos de trabalho: #[b "Em Andamento"] e #[b "Atrasados".]
            | #[br] - Os recrutadores deverão aprovar/rejeitar as admissões que estão no grupo de trabalho: #[b "Em Andamento"] e/ou #[b "Atrasados".]
            | #[br] - O encarregado do departamento de recursos humanos deverá aprovar/rejeitar as admissões que estão no grupo de trabalho: #[b "Em Andamento"] e/ou #[b "Atrasados".]
            | #[br] - As requisições aprovadas pelos recrutadores e gerentes, serão movidas para o grupo de trabalho #[b “Aprovados”] !{"&"} será criado um novo item na área de trabalho #[b “Integração”.]
        p
            | #[b Membros com Acesso] #[br]
            | - Carlins Ferraz #[b (Presidente)] #[br]
            | - Adriano Patrocínio #[b (Gerente Administrativo)] #[br]
            | - Marcos Aurelio Camargo Marques #[b (Encarregado de Depto. Pessoal)] #[br]
            | - Willian Pereira #[b (Analista de Recursos Humanos)] #[br]
            | - Luiz Guilherme #[b (Jovem Aprendiz)] #[br]
        p
            | #[b Automações]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Aprovador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Validador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - Sempre que um item for criado a coluna #[b "Data de Registro"] terá o valor definido para a #[b "Data Atual".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Rejeitados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e o valor da coluna #[b "Aprovador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e o valor da coluna #[b "Validador"] for #[b "Aprovar], o item será movido para o grupo de trabalho #[b "Aprovados".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e a coluna #[b "Aprovador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Integração".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e a coluna #[b "Validador"] tiver o valor #[b "Aprovar"], crie um item na área de trabalho #[b "Integração".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Em Andamento]
            | #[br] - #[b Atrasados]
            | #[br] - #[b Aprovados]
            | #[br] - #[b Rejeitados]
    div(class="div-content")
        h4(id="text8")
            | Integração
        p
            | #[b Introdução]
        iframe(
            class="col-12"
            height="315"
            src="https://www.youtube.com/embed/MCVunZXS5_4" frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        )
        p
            | #[b Sobre] #[br]
            | Esse modulo tem como objetivo ter o gerenciamento das integrações #[b "geradas"] pela área de trabalho #[b "Admissão".]
        p
            | #[b Processo] #[br]
            | Gerenciar as integrações dentro dos postos de trabalho.
        p
            | #[b Fluxo]
            | #[br] - O processo terá um fluxo finito, enquanto houver itens nos grupos de trabalho: #[b "Em Andamento"] e #[b "Fora do Prazo".]
            | #[br] - Os responsaveis pelo departamento deverão aprovar/rejeitar as integrações que estão no grupo de trabalho: #[b "Em Andamento"] e/ou #[b "Fora do Prazo".]
            | #[br] - O recrutador deverá aprovar/rejeitar as admissões que estão no grupo de trabalho: #[b "Em Andamento"] e/ou #[b "Atrasados".]
            | #[br] - As requisições aprovadas pelos recrutadores e responsaveis, serão movidas para o grupo de trabalho #[b “Integrados”.]
        p
            | #[b Membros com Acesso] #[br]
            | Todos os recrutadores e responsaveis de departamento.
        p
            | #[b Automações]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Aprovador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - 1 dia após expirar a data na coluna #[b "Prazo"], e o valor da coluna #[b "Validador"] for #[b "Sem Analise"], mova o item para o grupo de trabalho #[b "Atrasados".]
            | #[br] - Sempre que um item for criado a coluna #[b "Data de Registro"] terá o valor definido para a #[b "Data Atual".]
            | #[br] - Sempre que um item for criado a coluna #[b "Prazo"] terá o valor definido para a #[b "Data Atual + 1 Mês (Exemplo: Se for em "Janeiro", então será em "Fevereiro")".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Integrações Malsucedidas".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Rejeitar"], o item será movido para o grupo de trabalho #[b "Integrações Malsucedidas".]
            | #[br] - Ao definir o valor da coluna #[b "Validador"] para #[b "Aprovar"], e o valor da coluna #[b "Aprovador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Integrados".]
            | #[br] - Ao definir o valor da coluna #[b "Aprovador"] para #[b "Aprovar"], e o valor da coluna #[b "Validador"] for #[b "Aprovar"], o item será movido para o grupo de trabalho #[b "Integrados".]
        p
            | #[b Métodos de Visualização]
            | #[br] - Tabela #[b (Padrão)]
            | #[br] - Mapa #[b (GPS)]
        p
            | #[b Grupos de Trabalho]
            | #[br] - #[b Fora do Prazo]
            | #[br] - #[b Em Andamento]
            | #[br] - #[b Integrados]
            | #[br] - #[b Integrações Malsucedidas]
script.
    (function() {
        'use strict';

        window.app = window.app || {};

        window.app.scrollToHREF = (link) => {
            var $doc = $('html, body');

            $doc.animate({
                'scrollTop': $(link).offset().top - 150
            }, 'slow');
            return false;
        }
    })();