div(class="col-12 animate__animated animate__heartBeat" style="background-repeat: no-repeat; background-size: cover; background-image: url('https://thumbs.gfycat.com/RepentantFoolhardyHousefly-max-1mb.gif');")
  a(href="https://www.grupomave.com.br" class="d-flex flex-column bg-mave1 bg-gradient px-3 animate__animated animate__delay-1s animate__bounceInDown" target="_blank")
    img(src=`/assets/logo.png` class="img-fluid align-self-center mt-3" style="width: 50vh;")
    h4(class="text-center text-white p-2" style="font-size: 16px;") Você e seu patrimônio em boas mãos!
  div(class="col-12 bg-mave2 bg-gradient animate__animated animate__delay-1s animate__bounceInUp" style="height: 10px;")
  div(class="d-flex justify-content-center my-2 col-12")
    - var photoPerfil = photoPath + photoName || 'assets/perfil/avatar.png';
    img(src=`/${photoPerfil}` class="rounded-circle align-self-center shadow animate__animated animate__delay-1s animate__tada" id="card-photo" width="140" height="140")
  div(class="d-flex flex-column my-1 col-12")
    h4(class="text-center animate__animated animate__delay-1s animate__heartBeat" id="card-username") #{username || 'Nome do Colaborador'}
    h4(class="text-center animate__animated animate__delay-1s animate__heartBeat" id="card-jobtitle") #{jobtitle || 'Cargo/Função'}
  div(class="d-flex justify-content-center col-12")
    div(class="col-5 col-lg-4 mx-2 p-2")
      button(type="button" class="btn btn-mave1 col-12 phone-text animate__animated animate__delay-1s animate__bounceInUp" id="card-phone-1" onclick="window.app.cardOpenPhone(0)") #[i(class="fas fa-phone")] #{phone_1 || '(11) 3683-3408'}
    div(class="col-5 col-lg-4 mx-2 p-2")
      button(type="button" class="btn btn-mave1 col-12 phone-text animate__animated animate__delay-1s animate__bounceInUp" id="card-phone-2" onclick="window.app.cardOpenPhone(1)") #[i(class="fas fa-mobile")] #{phone_2 || '(11) 99999-9999'}
  div(class="d-flex justify-content-center col-12")
    div(class="col-8 col-lg-5 mx-2 p-2")
      button(type="button" class="btn btn-success col-12 phone-whatsapp animate__animated animate__delay-1s animate__bounceInDown" id="card-phone-3" onclick="window.app.cardOpenWhatsapp(2)") #[i(class="fab fa-whatsapp")] #{whatsapp_phone || '(11) 94784-1110'}
  div(class="d-flex justify-content-center col-12")
    div(class="col-12 col-lg-3 p-2")
      button(type="button" class="btn btn-mave1 my-1 btn-sm col-12 animate__animated animate__delay-1s animate__bounceInDown" style="font-size: 12px;" id="card-share-whatsapp") #[i(class="fas fa-share-square")] Compartilhar no Whatsapp
      button(type="button" class="btn btn-mave1 my-1 btn-sm col-12 animate__animated animate__delay-1s animate__bounceInDown" style="font-size: 12px;" onclick="window.app.cardOpenVCF()" id="card-vcard") #[i(class="far fa-address-book")] Salvar nos contatos
  div(class="col-12 bg-mave2 bg-gradient animate__animated animate__delay-1s animate__bounceInDown" style="height: 10px;")
  div(class="bg-mave1 bg-gradient col-12 py-3 animate__animated animate__delay-1s animate__bounceInUp")
    div(class="d-flex justify-content-center")
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" onclick="window.app.cardOpenMail()") #[i(class="far fa-envelope")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" onclick="window.app.cardOpenGPS()") #[i(class="fas fa-map-marked-alt")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" onclick="window.app.cardOpenWebsite()") #[i(class="fab fa-chrome")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" onclick="window.app.cardOpenFile()") #[i(class="far fa-file-pdf")]
    div(class="d-flex justify-content-center")
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" id="socialmedia-Facebook" onclick="window.app.cardOpenSocialMedia('Facebook')") #[i(class="fab fa-facebook")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" id="socialmedia-Youtube" onclick="window.app.cardOpenSocialMedia('Youtube')") #[i(class="fab fa-youtube")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" id="socialmedia-Linkedin" onclick="window.app.cardOpenSocialMedia('Linkedin')") #[i(class="fab fa-linkedin")]
      div(class="col-2 mx-1 p-2")
        button(type="button" class="btn btn-outline-light btn-sm col-12 fs-6" id="socialmedia-Instagram" onclick="window.app.cardOpenSocialMedia('Instagram')") #[i(class="fab fa-instagram")]
    div(class="d-flex justify-content-center")
      div(class="col-12 text-center pt-1")
        p(class="text-white fw-bold" style="font-size: 12px;") Grupo Mave - 2021 © Todos direitos reservados.
    script.
      (function () {
        'use strict';

        window.app = window.app || {};

        window.app.cardGetProps = {
          baseurl: String("#{baseurl}"),
          id: String("#{id}"),
          version: String("#{version}"),
          photoPath: String("#{photoPath}"),
          photoName: String("#{photoName}"),
          phones: [
            [String("#{phone_1}"), String("#{phone_1}").replace(/\(|\)|\s{1,}|\-/g,'')],
            [String("#{phone_2}"), String("#{phone_2}").replace(/\(|\)|\s{1,}|\-/g,'')],
            [String("#{whatsapp_phone}"), String("#{whatsapp_phone}").replace(/\(|\)|\s{1,}|\-/g,'')]
          ],
          whatsapp_text: String("#{whatsapp_text}"),
          whatsapp_message: String("#{whatsapp_message}"),
          email: String("#{email}"),
          location: String("#{location}"),
          website: String("#{website}"),
          socialmedia_youtube_link: String('#{socialmedia_youtube_link}'),
          socialmedia_youtube_enabled: (() => {
            if (String('#{socialmedia_youtube_enabled}').length > 0)
              return Boolean(eval('#{socialmedia_youtube_enabled}'));
            return undefined;
          })(),
          socialmedia_linkedin_link: String('#{socialmedia_linkedin_link}'),
          socialmedia_linkedin_enabled: (() => {
            if (String('#{socialmedia_linkedin_enabled}').length > 0)
              return Boolean(eval('#{socialmedia_linkedin_enabled}'));
            return undefined;
          })(),
          socialmedia_instagram_link: String('#{socialmedia_instagram_link}'),
          socialmedia_instagram_enabled: (() => {
            if (String('#{socialmedia_instagram_enabled}').length > 0)
              return Boolean(eval('#{socialmedia_instagram_enabled}'));
            return undefined;
          })(),
          socialmedia_facebook_link: String('#{socialmedia_facebook_link}'),
          socialmedia_facebook_enabled: (() => {
            if (String('#{socialmedia_facebook_enabled}').length > 0)
              return Boolean(eval('#{socialmedia_facebook_enabled}'));
            return undefined;
          })(),
          attachment: String("#{attachment}"),
          fileVCF: String("#{fileVCF}")
        };
      })();
    script.
      (function () {
        'use strict';

        setTimeout(function() {
          $('body').removeClass('overflow-hidden').addClass('overflow-auto');
        }, 2000);

        let animate = false, delay = 3000;
        $(function(){
          $('body').addClass('overflow-hidden');

          setInterval(function () {
            if (!animate) {
              animate = true;
              $('#card-photo').removeClass('animate__tada animate__heartBeat');
              $('#card-username, #card-jobtitle').removeClass('animate__heartBeat animate__bounce');
              $('#card-phone-1, #card-phone-2').removeClass('animate__bounceInUp animate__rubberBand');
              $('#card-phone-3').removeClass('animate__bounceInDown animate__tada');
              $('#card-share-whatsapp, #card-vcard').removeClass('animate__bounceInDown animate__heartBeat');
            } else {
              animate = false;
              $('#card-photo').addClass('animate__heartBeat');
              $('#card-username, #card-jobtitle').addClass('animate__bounce');
              $('#card-phone-1').addClass('animate__rubberBand');
              $('#card-phone-2').addClass('animate__rubberBand');
              $('#card-phone-3').addClass('animate__tada');
              $('#card-share-whatsapp, #card-vcard').addClass('animate__heartBeat');
            }
          }, delay);
        });
      })();
    script(src="/javascripts/card-layout-1.min.js")