extends ../layout

append head
    link(rel="stylesheet" href="/stylesheets/materials.min.css")
append content
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
        h1(class="h2") #{id}
    div(class="col-12")
        p(class="text-wrap")
            | Olá #[b(class="text-capitalize" id="usr-username")]/#[b(class="text-capitalize") #{privileges} #{">"}] Seu caminho de navegação atual é #[b(class="text-primary") #{router}]
    div(class="app-page-materials")
        mixin joinResource(resource)
            div(class="container-contents")
                div(class="container-content")
                    p !{resource["logo"]["top"][0]}
                    a(
                        download
                        href=`${resource["logo"]["top"][1]}`
                        role="button"
                    ) Baixar PNG
                    a(
                        download
                        href=`${resource["logo"]["top"][2]}`
                        role="button"
                    ) Baixar PDF
                    button(
                        type="button"
                        onclick=`window.app.pageMaterials('${resource["logo"]["top"][0]}-modal')`
                    ) Prévia
                    div(class="modal fade" id=`${resource["logo"]["top"][0]}-modal` tabindex="-1" aria-labelledby=`${resource["logo"]["top"][0]}-label` aria-hidden="true")
                        div(class="modal-dialog")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id=`${resource["logo"]["top"][0]}-label`) !{resource["logo"]["top"][0]}
                                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    img(src=`${resource["logo"]["top"][1]}` class="except")
                div(class="container-content")
                    p !{resource["logo"]["left"][0]}
                    a(
                        download
                        href=`${resource["logo"]["left"][1]}`
                        role="button"
                    ) Baixar PNG
                    a(
                        download
                        href=`${resource["logo"]["left"][2]}`
                        role="button"
                    ) Baixar PDF
                    button(
                        type="button"
                        onclick=`window.app.pageMaterials('${resource["logo"]["left"][0]}-modal')`
                    ) Prévia
                    div(class="modal fade" id=`${resource["logo"]["left"][0]}-modal` tabindex="-1" aria-labelledby=`${resource["logo"]["left"][0]}-label` aria-hidden="true")
                        div(class="modal-dialog")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id=`${resource["logo"]["left"][0]}-label`) !{resource["logo"]["left"][0]}
                                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    img(src=`${resource["logo"]["left"][1]}` class="normal")
                div(class="container-content")
                    p !{resource["logo"]["right"][0]}
                    a(
                        download
                        href=`${resource["logo"]["right"][1]}`
                        role="button"
                    ) Baixar PNG
                    a(
                        download
                        href=`${resource["logo"]["right"][2]}`
                        role="button"
                    ) Baixar PDF
                    button(
                        type="button"
                        onclick=`window.app.pageMaterials('${resource["logo"]["right"][0]}-modal')`
                    ) Prévia
                    div(class="modal fade" id=`${resource["logo"]["right"][0]}-modal` tabindex="-1" aria-labelledby=`${resource["logo"]["right"][0]}-label` aria-hidden="true")
                        div(class="modal-dialog")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id=`${resource["logo"]["right"][0]}-label`) !{resource["logo"]["right"][0]}
                                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    img(src=`${resource["logo"]["right"][1]}` class="normal")
            div(class="container-contents")
                div(class="container-content")
                    p !{resource["logo"]["flat"][0]}
                    a(
                        download
                        href=`${resource["logo"]["flat"][1]}`
                        role="button"
                    ) Baixar PNG
                    a(
                        download
                        href=`${resource["logo"]["flat"][2]}`
                        role="button"
                    ) Baixar PDF
                    button(
                        type="button"
                        onclick=`window.app.pageMaterials('${resource["logo"]["flat"][0]}-modal')`
                    ) Prévia
                    div(class="modal fade" id=`${resource["logo"]["flat"][0]}-modal` tabindex="-1" aria-labelledby=`${resource["logo"]["flat"][0]}-label` aria-hidden="true")
                        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id=`${resource["logo"]["flat"][0]}-label`) !{resource["logo"]["flat"][0]}
                                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    img(src=`${resource["logo"]["flat"][1]}` class="normal")
            div(class="container-contents")
                div(class="container-content")
                    p !{resource["paper"]["word"][0]}
                    a(
                        download
                        href=`${resource["paper"]["word"][1]}`
                        role="button"
                    ) Baixar
                div(class="container-content")
                    p !{resource["paper"]["excel"][0]}
                    a(
                        download
                        href=`${resource["paper"]["excel"][1]}`
                        role="button"
                    ) Baixar
                div(class="container-content")
                    p !{resource["paper"]["pdf"][0]}
                    a(
                        download
                        href=`${resource["paper"]["pdf"][1]}`
                        role="button"
                    ) Baixar
            div(class="container-contents")
                div(class="container-content")
                    button(
                        type="button"
                        class="btn btn-primary d-none d-lg-block col-12 mb-2"
                        onclick=`window.app.pageMaterials('${resource["paper"]["pdf"][0]}-modal')`
                    ) Prévia
                    div(class="modal fade" id=`${resource["paper"]["pdf"][0]}-modal` tabindex="-1" aria-labelledby=`${resource["paper"]["pdf"][0]}-label` aria-hidden="true")
                        div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title" id=`${resource["paper"]["pdf"][0]}-label`) !{resource["paper"]["pdf"][0]}
                                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    object(data=`${resource["paper"]["pdf"][1]}` class="col-12 shadow border border-3 border-primary" height="350" type="application/pdf")
                                        embed(src=`${resource["paper"]["pdf"][1]}` type="application/pdf")
        each resource in resources
            +joinResource(resource)
    script.
        (function() {
            "use strict";

            window.app = window.app || {};
            window.app.pageMaterials = {};

            window.app.pageMaterials = (id) => {
                var selectModal = new bootstrap.Modal(document.getElementById(id), {
                    backdrop: true,
                    keyboard: true,
                    focus: true
                });
                selectModal.show();
            }
        })();